<template>
    <div class="has-text-left">
        <h1>Filters</h1>
        <div class="add-margin-top-25">
            1. Trash news filter
            <div class="is-pulled-right noWrap">
                <div class="is-inline-flex is-size-7">
                    <span class="add-margin-right-5">Edit</span>
                    <P class="add-margin-right-5">|</P>
                    <span class="add-margin-right-5">Remove</span>
                    <P class="add-margin-right-5">|</P>
                    <span class="add-margin-right-5">Copy</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "filter"
    }
</script>

<style scoped>

</style>