<template>
    <div class="columns add-margin-top-15">
        <hr class="is-black">
        <div class="column is-6 add-margin-top-15 footerLogo">
            <img src="../../images/logo2.jpg" class="is-pulled-left add-margin-right-15" style="width: 50px; height: 50px"/>
            <div class="has-text-left inputFiledNames">
                <p>YourPoint</p>
                <p>Online like no one anymore</p>
            </div>
        </div>
        <div class="column is-5 has-text-centered">
            <div class="noWrap">
                <div class="is-inline-flex inputFiledNames">
                    <span class="add-margin-right-15"><router-link to="/about">About</router-link></span>
                    <P class="add-margin-right-15">|</P>
                    <span class="add-margin-right-15"><router-link to="/contacts">Contacts</router-link></span>
                    <P class="add-margin-right-15">|</P>
                    <span class="add-margin-right-15"><router-link to="/team">Team</router-link></span>
                </div>
            </div>
            <div class="noWrap has-text-centered add-margin-top-10">
                <router-link to="twitter.com"><img src="../../images/facebook.svg"  class="add-margin-right-15" style="width: 25px; height: 25px" /></router-link>
                <router-link to="twitter.com"><img src="../../images/twitter.svg"  class="add-margin-right-15" style="width: 25px; height: 25px"/></router-link>
                <router-link to="/instagram.com"><img src="../../images/instagram.svg"  class="add-margin-right-15" style="width: 25px; height: 25px"/></router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "myfooter"
    }
</script>

<style scoped lang="scss">

    hr {
        margin-top: 50px;
    }
    .footerLogo {
        display: inline-flex;
    }

</style>