<template>
    <div class="columns add-margin-top-25">
        <div class="column is-6">
            <img src="../../images/pic.jpg" class="is-pulled-left"/>
        </div>
        <div class="column is-4">
            <div class="is-pulled-right noWrap">
                <div class="is-inline-flex" v-for="(value, key) in array">
                    <span class="add-margin-right-15"><router-link :to="key">{{ key }}</router-link></span>
                    <P class="add-margin-right-15">|</P>
                </div>
            </div>
            <div class="ratingDiv">
                <div style="width: 180px" class="is-pulled-right add-margin-top-15">
                    <star-rating  :star-size="20" :show-rating="false"/>
                    <div >
                        <button class="button inputFiledNames width-80 logoutButton"><router-link to="/home">Logout</router-link></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "header",
        props: {
            array: {

            }
        },
        // data () {
        //     return {
        //         array: {
        //             Home: '',
        //             Profile: '/profile',
        //             Upgrade: 'value3',
        //         }
        //     }
        // },

    }
</script>

<style scoped>

</style>