<template>
    <div class="has-text-left">
        <h1 class="">History</h1>
        <div class="add-margin-top-25">
            <input type="checkbox" class="add-margin-right-5"/>
            <span>Save 5 last news</span>
        </div>
        <br/>
        <div class="">
            <input type="checkbox" class="add-margin-right-5"/>
            <span>Do not show me trash news</span>
        </div>
        <br/>
        <div class="">
            <input type="checkbox" class="add-margin-right-5"/>
            <span>Notify me on flash news</span>
        </div>
        <br/>
        <div class="">
            <input type="checkbox" class="add-margin-right-5"/>
            <span>Show my rating to everyone</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "history"
    }
</script>

<style scoped>

</style>