<template>
    <div class="has-text-left marketPlaceHeight">
        <h1>Marketplace</h1>
        <table class="table table-striped table-hover add-margin-top-25 tableSizes">
            <tbody>
            <tr v-for="i in items" class="is-flex tableRowHeight">
                <td class="column is-3 has-text-centered is-size-7">
                    <label class="form-checkbox">
                        <input type="checkbox">
                        <i class="form-icon"></i>
                    </label>
                </td>
                <td class="column is-4 has-text-centered is-size-7">{{i.price}}</td>
                <td class="column is-5 has-text-centered is-size-7">{{i.marketplace}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

    export default {
        name: "marketplace",
        data: () => ({
            items: [
                {
                    price: "100 euro",
                    marketplace: "Auto"
                },
                {
                    price: "170 euro",
                    marketplace: "Luxury staff"
                },
                {
                    price: "170 euro",
                    marketplace: "Politics"
                },
                {
                    price: "170 euro",
                    marketplace: "Tramp news"
                },
                {
                    price: "170 euro",
                    marketplace: "Money"
                },
                {
                    price: "170 euro",
                    marketplace: "Music"
                },
                {
                    price: "170 euro",
                    marketplace: "Movie"
                },
                {
                    price: "170 euro",
                    marketplace: "Food"
                },
                {
                    price: "170 euro",
                    marketplace: "Drinks"
                }
            ],
        }),
        methods: {

        }
    }
</script>

<style scoped>

</style>