<template>
    <div class="container add-margin-top-25">
        <myHeader
                :headerProps = "{'YP': '/', 'Settings': '/settings',
                     'Profile': '/profile'}"></myHeader>
        <div class="columns add-margin-top-25">
            <div class="column is-6">
                <h1 class="is-pulled-left">Hello kitty</h1><br/>
                <p class="is-pulled-left">setup your account</p>
                <br/>
                <p class="is-pulled-left">3 filter, 3 market places, Write mode</p>
            </div>
            <div class="column is-4">
                <span class="add-margin-right-15 is-pulled-left"><router-link to="/home">• Add filters</router-link></span><br/>
                <span class="add-margin-right-15 is-pulled-left"><router-link to="/settings">• Add instants marketplaces</router-link></span><br/>
                <span class="add-margin-right-15 is-pulled-left"><router-link to="/profile">• Add rating</router-link></span>
            </div>

        </div>
        <hr class="is-black">
        <div class="columns">
            <div class="column is-6">
                <history></history>
                <br/>
                <statistics class="add-margin-top-25"></statistics>
            </div>
            <div class="column is-6">
                <marketplace></marketplace>
                <br/>
                <filters></filters>
            </div>
        </div>
        <div>
            <div>
                <!--<hr class="is-black">-->
                <myfooter></myfooter>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import Filters from './Filters'
    import Footer from './Footer'
    import Header from '@/components/Header.vue'
    import History from './History'
    import Marketplace from './Marketplace'
    import Statistics from './Statistics'
    import VeeValidate from 'vee-validate';
    import { Navbar } from 'bootstrap-vue/es/components';
    import Link from "bootstrap-vue/src/components/link/link";
    import ToggleButton from 'vue-js-toggle-button'
    Vue.use(VeeValidate);
    Vue.use(Navbar);
    Vue.use(ToggleButton)

    export default {
        components: {Link,
            'history': History,
            'marketplace': Marketplace,
            'filters': Filters,
            'statistics': Statistics,
            'myfooter': Footer,
            "myHeader": Header
        },
        name: 'Registration',
        data() {
            return {
                validCaptcha : false,
                email: '',
                username: '',
                password: '',
                date: '',
                checkbox: false,
                validUsername: false,
                validEmail: false,
                validPassword: false,
                validDate: false,
                enabled: false
            }
        },
        methods: {

        }
    }

</script>

<style scoped>

</style>