<template>
    <div class="has-text-left">
        <h1>Statistics</h1>
        <div class="column is-6">
        <column-chart :data="[['Sun', 32], ['Mon', 46], ['Tue', 28]]" class="has-text-centered tableSizes"></column-chart>
    </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueChartkick from 'vue-chartkick'
    import Chart from 'chart.js'

    Vue.use(VueChartkick, {adapter: Chart})
    export default {
        name: "statistics"
    }
</script>

<style scoped>

</style>