<template>
  <div class="page__about">
    <Header :headerProps = "{'Sign-up': '/registration', Login: '/login',
                      Prices: '/upgrade'}"/>
    <main class="about main">
      
      <section class="static">
        <h1>About us</h1>
        <article>
          <p>Thou bastard, come on thou little arse… Frig with me, eh? Thou bloody little arsehole, knobhead bellsucker… 
            Thou friggin' come on, come frig with me! I'll get thy arse, thou bugger! Oh, thou berkeley bastard! 
            Frig all thou and thy family! Come on, thou bellsucker, poxy bucket, cackface nuffball! Come on, thou scum tosser, thou frigging with me?
            Come on, thou arsehole!!!</p>

          <p>Thou bastard, come on thou little arse… Frig with me, eh? Thou bloody little arsehole, knobhead bellsucker… 
            Thou friggin' come on, come frig with me! I'll get thy arse, thou bugger! Oh, thou berkeley bastard! 
            Frig all thou and thy family! Come on, thou bellsucker, poxy bucket, cackface nuffball! Come on, thou scum tosser, thou frigging with me?
            Come on, thou arsehole!!!</p>

          <p>Thou bastard, come on thou little arse… Frig with me, eh? Thou bloody little arsehole, knobhead bellsucker… 
            Thou friggin' come on, come frig with me! I'll get thy arse, thou bugger! Oh, thou berkeley bastard! 
            Frig all thou and thy family! Come on, thou bellsucker, poxy bucket, cackface nuffball! Come on, thou scum tosser, thou frigging with me?
            Come on, thou arsehole!!! Thou friggin' come on, come frig with me! I'll get thy arse, thou bugger! Oh, thou berkeley bastard! 
            Frig all thou and thy family! </p>
        </article>
      </section>
    </main>
    <myfooter />
  </div>
</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import Header from '@/components/Header.vue'
  import Footer from '@/components/Footer.vue'

  export default {
    name: 'About',
    components: { Header, 'myfooter' :Footer },
  }
</script>

<style lang="scss">
  main {
    margin: 0 auto;

    @media screen and (max-width: 600px) {
      
    }
  }

  section h1 {
    //font-size: 3rem;
    //margin: 2rem 0;
    //color: #000;
  }

  article {
    font-size: 1rem;
    line-height: 2;
    color: #000;
    text-align: left;
    margin: 2rem auto;
    width: 640px;
    max-width: 100%;

    @media screen and (max-width: 680px) {
      width: 100%;
    }
  
  }

  p {
    line-height: 1.8;
  }

  p+p {
    margin-top: 1rem;

  }

</style>