<template>
  <div class="wrapper">
    <Header :headerProps = "{'Sign-up': '/registration', Login: '/login',
                      Prices: '/upgrade'}"/>
    <main class="main">
      <section class="confirmation">
        
        <div class="confirmation__login" v-if="!$store.state.loggedIn">
          <h1 class="confirmation__title">Thank you for registration!</h1>
          <p>Now you can log-in! Thou bastard, come on thou little arse… Frig with me, eh?
            Thou bloody little arsehole, knobhead bellsucker…
          </p>

          <form class="content-form confirmation__form" v-on:submit.prevent="sendData">
            <input
              type="text"
              class="content-form__input"
              placeholder="Username"
              v-model="postData.username"
            >
            <input
              type="password"
              class="content-form__input"
              placeholder="Password"
              v-model="postData.password"
            >
            <button class="button">Sign in</button>
          </form>
        </div>
        <div class="confirmation__picture-loader" v-if="$store.state.user.isConfirmed">
          <h1 class="confirmation__title">Congratulations!</h1>
          <p>Now you can upload your profile picture, or skip this step.</p>
          <label class="file-select">
            <div class="select-button">
              <span v-if="!selectedFile"><img src="../assets/img/changeAvatar.svg"/></span>
              <span v-else><img :src="selectedFile"/></span>
            </div>
            <input  type="file" @change="onFileChanged">
            <section>
              <button @click="onUpload()">Upload!</button>
            </section>
          </label>
          <section>
            <button
              type="button"
              class="button confirmation__button"
              v-on:click="$router.push('/')"
            >
              Go to main
            </button>
          </section>
        </div>
      </section>
      
    </main>
    <myfooter />
  </div>
</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import axios from 'axios'
  import store from '../store.js'
  import Header from '@/components/Header.vue'
  import Footer from '@/components/Footer.vue'
  
  export default {
    name: 'Confirmation',
    components: { Header, 'myfooter': Footer },
    props: {
      confirmationToken: String
    },
    data() {
      return {
        postData: {
          "username": "",
          "password": "",
          selectedFile: ""
        }
      }
    },
    methods: {
      onFileChanged (event) {
            const file = event.target.files[0]
            this.selectedFile = URL.createObjectURL(file);
        },
      onUpload() {
            this.$http.post('/login', this.selectedFile).then(
                (res) => {
                    res.data;
                })
                .catch((err) => {
                        console.log(err);
                    }
                );
      },
      finishConfirmation: function () {
        const self = this
        // this works locally only
        axios.get(`/api/v1/verification?token=${this.confirmationToken}`, {
           headers:  {
            'Cust-Authorization': `Bearer ${self.$store.state.token}`
          }
        })
        .then(
          function (res) {
            self.$store.state.user.isConfirmed = true
          }  
        ).catch((error) => console.log('error', error))    
      },
      sendData: function () {
        const self = this
        // this works locally only
        axios.post('/api/v1/login', this.postData)
          .then(
            function (res) {
              if (!!res.data.token && res.data.authResult) {
                store.commit('setToken', res.data.token);
                store.commit('setUserID', res.data.userId);
                store.commit('login');
                self.finishConfirmation()
              }
            }
          ).catch((error) => console.log('error', error))  
      }
    }
  }

</script>


<style lang="scss">
  .file-select > input[type="file"] {
    display: none;
  }
  .file-select {
    margin-top: 1rem;
    cursor: pointer;
    text-align: center;
    img {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      margin-bottom: 1rem;
    }
    button {
      border: 1px solid #ccc;
      border-radius: 3px;
      height: 32px;
      padding: 0 32px;
      background: transparent;
      color: black;
      transition: all 0.2s ease-in;
      font-size: 13px;
      cursor: pointer;
    }
  }
  .confirmation {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
   // TO DO : create class
    p {
      font-size: 14px;
      line-height: 1.5
    }
  }
  .confirmation__form {
    width: 100%;
    max-width: 320px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .confirmation__title {
    font-size: 32px;
  }

  .confirmation__button {
    margin-top: 16px;
  }

</style>