<template>
  <div class="wrapper">
    <Header />
    <main class="about main">
      
      <section class="static">
        <h1>Contacts</h1>
        <article>
          <p>Hey! Do you have any questions? Or may be you want just to say something ? Don't be shy, send whatever your want  via thais form!
          </p>

          <form class="content-form contacts-form" v-on:submit.prevent="sendData">
    
            <input type="text" id="name" class="content-form__input" placeholder="Name" v-model="postData.name" /> 

            <input type="email" id="email" class="content-form__input" placeholder="Email" v-model="postData.emailAddress" />

            <textarea id="message" v-model="postData.message" placeholder="Your message" class="content-form__textarea"></textarea>

            <button class="button contacts-form__button">Send</button>

          </form>
        
        </article>
      </section>
      
    </main>
    <myfooter />
  </div>
</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import Header from '@/components/Header.vue'
  import Footer from '@/components/Footer.vue'

  export default {
    name: 'Contacts',
    components: { Header, 'myfooter': Footer },
    data() {
      return {
        postData: {
            "name": "",
            "emailAddress": "",
            "message": ""
        },
      }
    },
    methods: { 
      sendData: function () {
        this.$http.post('/email', this.postData)
          .then((res) => {
              this.$toasted.show("You are logged in!", {
                  theme: "primary",
                  duration: 1000
              });
            })
            .catch((err) => {
                    console.log(err);
                    this.$toasted.show("Sorry, something went wrong :(", {
                        theme: "primary",
                        duration: 1000
                    });
                }
            );
      }
    }
  }
</script>

<style scoped lang="scss">

.contacts-form {
  width: 100%;
  max-width: 320px;
  margin: 32px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


</style>