<template>
<div class="page__forgot-password">
 <myHeader
                :headerProps = "{'Home': '/', 'Sign-up': '/registration',
                     'Forgot password': '/forgot_password'}"></myHeader>
    <div class="container">
        
        <div class="container add-margin-top-25">
            <h1 class="is-centered is-size-4 add-margin-top-25">Please enter your email to reset your password!</h1>
            <div class="columns add-margin-top-100">
                <div class="column is-2">
                </div>
                <div class="column is-5">
                    <div class="add-margin-top-25 width-304 is-pulled-right">
                        <span class="is-pulled-left inputFiledNames">Email</span>
                        <input class="input" type="email" v-validate="'required|email'" v-model="email" @change="isEnabled" name="email"
                               v-bind:class="{'form-control': true, 'error': !validateMail(), 'success': validateMail() }"/>
                    </div>
                    <div class="add-margin-top-25 width-304 is-pulled-right">
                        <vue-recaptcha @verify="validateCaptcha()"
                                       sitekey="6LfFL2QUAAAAAF6MGEbqPLk7zfOwDSd2zUT8dbmo" v-model="validCaptcha">
                        </vue-recaptcha>
                    </div>
                    <div class="add-margin-top-25 width-304 is-pulled-right">
                        <button class="button is-pulled-right inputFiledNames width-80"
                                id="saveButton" :disabled="!enabled" v-on:click="sendData">Save</button>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <myFooter class="myFooter"></myFooter>
  </div>
</template>

<script>
    import Vue from 'vue';
    import VueRecaptcha from 'vue-recaptcha';
    import VeeValidate from 'vee-validate';
    import { Navbar } from 'bootstrap-vue/es/components';
    import Link from "bootstrap-vue/src/components/link/link";
    import Header from '@/components/Header.vue'
    import Footer from './settings/Footer'
    Vue.use(VeeValidate);
    Vue.use(Navbar);

    export default {
        components: {Link, VueRecaptcha },
        name: "forgot-password",
        data() {
            return {
                validCaptcha : false,
                email: '',
                enabled: false
            }
        },
        components:{
            "myHeader": Header,
            "myFooter": Footer
        },
        methods: {
            isEnabled() {
                if (this.validEmail && this.validCaptcha) {
                    this.enabled = true;
                } else {
                    this.enabled = false;
                }
            },
            validateMail() {
                if(this.email !== '' && !this.errors.has('email')) {
                    this.validEmail = true;
                    this.isEnabled();
                    return true;
                } else {
                    this.validEmail = false;
                    this.enabled = false;
                }
            },

            validateCaptcha() {
                this.validCaptcha = true;
                this.isEnabled();
            },
            sendData: function () {
                this.$http.post('/profile',{email:this.email}).then(
                    function (res) {
                        res.status;
                    } ,function (res) {
                        // res.error();
                    }
                );
            }
        }
    }
</script>

<style scoped>

</style>