<template>
  <div class="home">
    <!--<img src="../assets/logo.png">-->
    <News/>
    <!--<HelloWorld msg="Welcome to Your Vue.js App"/>-->
  </div>
</template>

<script>
    // @ is an alias to /src
    import HelloWorld from '@/components/HelloWorld.vue'
    import News from '@/components/News.vue'

    export default {
  name: 'home',
  components: {
      HelloWorld, News
  }
}
</script>
