<template>
  <div class="wrapper">
    <div class="wrapper__content">

      <Header v-bind:isIndex="true" />

      <main class="index">

        <div class="index__content">

          <div class="graphic">
            <graphic />
          </div><!--//graphic-->

          <section class="main-news">
            <div class="categories-menu">
              <div class="categories-menu__categories">
                <span v-for="(category, index) in categories" class="categories-menu__link" :id="category.title"
                      v-bind:class="[$store.state.news.category === category.title ? 'categories-menu__link__active' : 'categories-menu__link']"
                      @click="connectSSE(category.title)">{{category.name}}</span>
              </div>
              <div class="categories-menu__categories" v-for="category in categoriesForLoggedIn" >
                <span v-bind:class="[$store.state.loggedIn ? 'categories-menu__link' : 'categories-menu__link__disabled']">{{category}}</span>
              </div>
            </div>

            <div class="main-news__title">
              <transition name="slide-fade" mode="out-in">
                  <div :key="$store.state.news.title">
                      {{ $store.state.news.title }}
                  </div>
              </transition>
            </div>

            <button class="button-rectangle main-news__button" v-on:click="goToOneNews">Read news!</button>
            <div class="main-news__next-news-button">
              <span @click="nextNews">Next news »</span>
            </div>
          </section>

          <Opinions />
        </div>
      </main>
    </div><!--//wrapper__content-->

    <myfooter></myfooter>
  </div>
</template>

<script>
  import opinions from "../components/Opinions"
  import Vue from 'vue'
  import Router from 'vue-router'
  import Header from '@/components/Header.vue'
  import Footer from '@/components/Footer.vue'
  import Slogan from '@/components/Slogan.vue'
  import Login from '@/components/Login.vue'
  import ForgotPassword from '@/components/ForgotPassword.vue'
  import Registration from '@/components/Registration.vue'
  import AddComment from '@/components/AddComment.vue'
  import Opinions from '@/components/Opinions.vue'
  import HeaderLogo from '@/components/HeaderLogo.vue'
  import Graphic from '@/components/Graphic.vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import store from '../store.js'
  import ClickOutside from 'vue-click-outside'
  import VueSSE from 'vue-sse';
  Vue.use(VueSSE);
  let msgServer;

    export default {
        name: "Index",
        components: {
            Header, 'myfooter': Footer,
            Login, Registration, AddComment,
            Opinions, HeaderLogo, ForgotPassword,
            Graphic, Link
        },

        data() {
            return {
                nextButtonIsClicked: false,
                isRegistrationOpen: false,
                isSignInOpen: false,
                isAddCommentOpen: false,
                isForgotPasswordOpen: false,
                topicId: "",
                offSet: "",
                interval: null,
                currentCategory: "",
                categories: [{title:"category_tech", name: "IT"},{title:"category_news", name: "news"},{title:"category_auto", name: "cars"}],
                categoriesForLoggedIn: ["medicine","criminal","fun","traveling","culture","sport","beauty"]
            }
        },
        methods: {
            openSignIn: function() {
                this.isSignInOpen = !this.isSignInOpen;
                this.isRegistrationOpen = false;
                this.isForgotPasswordOpen = false;
            },
            openRegistration: function() {
                this.isRegistrationOpen = !this.isRegistrationOpen;
                this.isSignInOpen = false;
                this.isForgotPasswordOpen = false;
            },
            logout: function () {
                store.commit('logout');
            },
            goToProfile: function () {
                this.$router.push('/profile')
            },
            clickOutside: function () {
                this.isSignInOpen = false;
                this.isRegistrationOpen = false;
                this.isForgotPasswordOpen = false;
            },
            nextButtonClick: function () {
                this.nextButtonIsClicked = false;
            },
            nextNews: function () {
                this.nextButtonIsClicked = true;
                setTimeout(this.nextButtonClick, 7000);
                this.offSet -= 1;
                this.getTopicId(store.state.news.category);
            },
            goToOneNews: function () {
                this.$router.push('/one_news');
                if (msgServer) {
                    msgServer.unsubscribe('newItem');
                    msgServer.close();
                }
                this.clearInterval();
            },
            getTopic: function () {
                const graficComponent = this.$children.filter(comp => comp.$options._componentTag === 'graphic');
                const opinionsComponent = this.$children.filter(comp => comp.$options._componentTag === 'Opinions');
                const currentState = this;
                this.$http.get("/topic/" + this.topicId).then(
                    (res) => {
                        store.commit('setNewsTitle', res.data.title);
                        store.commit('setNewsLink', res.data.link);
                        store.commit('setNewsValue', res.data.value);
                        store.commit('setNewsDate', res.data.publishedDate);
                        store.commit('setNewsId', res.data.id);
                        opinionsComponent[0].getTopComments();
                        graficComponent[0].getGrafData();
                    } ,(res) => {
                        console.log(res);
                    }
                );
            },
            getOffSet: function (channelName) {
                const currentState = this;
                this.$http.get("/channel/" + channelName + "/top").then(
                    (res) => {
                        currentState.offSet = res.data;
                        currentState.getTopicId(channelName);
                    } ,(res) => {
                        console.log(res);
                    }
                );
            },
            getTopicId: function (channelName) {
                const currentState = this;
                this.$http.get("/channel/" + channelName + "/frame?start=" + this.offSet + "&limit=10").then(
                    (res) => {
                        currentState.topicId = res.data[0].topicId;
                        currentState.getTopic();
                    } ,(res) => {
                        console.log(res);
                    }
                );
            },
            connectSSE: function (channelName) {
                if (msgServer) {
                    msgServer.unsubscribe('newItem');
                    msgServer.close();
                }
                this.clearInterval();
                const currentState = this;
                store.commit('setNewsCategory', channelName);
                this.getOffSet(channelName);

                this.$sse('http://dev.server.01.yourpoint.io:8080/api/v1/channel/' + channelName + '/events', { format: 'json' }) // or { format: 'plain' }
                    .then(sse => {
                        msgServer = sse;
                        sse.onError(e => {
                            console.error('Lost connection', e);
                            sse.close();
                        });

                        sse.subscribe('newItem', data => {
                            if(!this.nextButtonIsClicked) {
                                this.topicId = data.topicId;
                                this.getTopic();
                            }
                        });
                        console.log(store.state.news.category);
                        this.interval = setInterval(() => {
                            if(!this.nextButtonIsClicked) {
                                currentState.offSet -= 1;
                                currentState.getTopicId(channelName);
                            }
                        }, 7000);
                    })
                    .catch(err => {
                        console.error('Failed to connect to server', err);
                    });
            },
            clearInterval: function () {
                if (this.interval !== null) clearInterval(this.interval);
            }
        },
        directives: {
            ClickOutside
        },
        beforeMount(){
            this.connectSSE("category_tech");
            this.getOffSet("category_tech");
        },
        beforeDestroy() {
            if(msgServer) msgServer.close();
        },

  }
</script>

<style lang="scss">

  .slide-fade-enter-active {
    transition: all .1s ease;
  }
  .slide-fade-leave-active {
    transition: all .4s ;
  }
  .slide-fade-enter {
    transform: translateX(-10px);
    opacity: 0;
  }

  .slide-fade-leave-to {
    transform: translateX(110px);
    opacity: 0;
  }

  .index {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 880px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 680px) {
      flex-direction: column;
    }
  }

  .index__content {
    max-width: 100%;
    width: 100%;
  }

  .index__aside {
    width: 140px;
    flex-shrink: 0;
  }

  .index__graphic {
    text-align: center;
    margin: 1rem auto;
    max-width: 95%;
    width: auto;
    height: auto;
  }

  .index__news {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .graphic__one-mark {
    font-size: 13px;
    display: inline-flex;
    width: auto;
    align-items: center;
    margin-left: 16px;
    color: #c5c5c5;

    b {
        width: 8px;
        height: 8px;
        margin-right: 8px;
    }
  }

  .graphic {
      position: relative;
      width: 600px;
      max-width: 90%;
      margin: 16px auto;
  }

  .graphic__marks {
    position: absolute;
    right: 0px;
    top: 16px;
  }

  .chart__content {
    padding: 0;

    &:before {
      background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))!important;
    }
  }

  .categories-menu {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .categories-menu__title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
  }

  .categories-menu__categories {
    display: flex;
    font-size: 13px;
  }


  .categories-menu__link {
    font-size: 14px;
    margin: 0 8px;
    cursor: pointer;
    color: #a29e98;
    transition: color 0.2s ease-in-out;

    span:not(:first-child) {
      margin: 0 8px;
    }

    &:hover {
      color:#ec474a;
    }
  }

  .categories-menu__link__active {
    font-size: 14px;
    margin: 0 8px;
    cursor: pointer;
    color: #ec474a;
    transition: color 0.2s ease-in-out;
    font-weight: 600;
  }

  .categories-menu__link__disabled {
    font-size: 14px;
    cursor: default;
    color: #a29e98;
    margin: 0 8px;

  }

  .main-news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-news__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: #000;
    height: 60px;
    display: table;

    div {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .main-news__category {
    font-size: 14px;
    color: #c5c5c5;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .main-news__arrow {
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: no-repeat center center;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.2s ease-in-out
  }

  .main-news__arrow:hover {
    opacity: 0.7;
  }

  .main-news__arrow-left {
    left: 0;
    background-image: url(../assets/img/arrow-left.png);
  }

    .main-news__arrow-right {
        right: 0;
        background-image: url(../assets/img/arrow-right.png);
    }

    .main-news__button {
        margin-top: 24px;
    }

    .main-news__next-news-button {
        font-size: 14px;
        color: #a29e98;
        margin-top: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in;

        &:hover {
            color: #333;
        }
    }

    .index__header__menu {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .index__header__menu__link {
        font-size: 13px;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: #b03b3b;
        }

        &::after {
            content: '';
            width: 4px;
            height: 4px;
            background: #b03b3b;
            margin: 0 0.5rem;
        }

        &:last-child::after {
            display: none;
        }
    }


</style>