<template>
    <div>
        <Header :headerProps = "{'YP': '/', profile: '/profile',
                     stats: '/', logout: '/'}"/>
        <main class="moderator">
            <div class="moderator__selectBox">
                <section class="moderator__selectBox__section">
                    <h2>Choose category:</h2>
                    <b-form-select v-model="selected" :options="options" @change="categoryChange" class="mb-3" />
                </section>
            </div>
            <div>
                <b-table class="moderator__table"
                          hover
                         :items="comments"
                         :fields="fields"
                         :current-page="currentPage"
                >
                    <!--:per-page="perPage"-->
                        <template slot="index" slot-scope="data">
                            {{data.item.id}}
                        </template>

                        <template slot="text" slot-scope="data">
                          {{data.item.text}}
                        </template>

                        <template slot="username" slot-scope="data">
                            {{data.item.user.name}}
                        </template>

                        <!--<template  slot="banUser" slot-scope="data">-->
                            <!--<toggle-button v-model="data.item.banUser"/>-->
                        <!--</template>-->

                        <template slot="hideComment" slot-scope="data">
                            <toggle-button  v-model="data.item.isBanned" @change="hideOrUnhide(data.item)"/>
                        </template>
                        <!--<template slot="deleteButton" slot-scope="data">-->
                            <!--<a><img src="../assets/img/icon-close.svg" class="deleteButton"-->
                                    <!--v-model="data.item.deleteButton" v-on:click="deleteComment()"/></a>-->
                        <!--</template>-->

                </b-table>
                <!--<b-row>-->
                    <!--<b-col md="6" class="my-1">-->
                        <!--<b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0 pagination" />-->
                    <!--</b-col>-->
                <!--</b-row>-->
            </div>






        </main>


        <Footer/>
    </div>
</template>

<script>
    import Vue from 'vue'
    import bFormSelect from 'bootstrap-vue/es/components/form-select/form-select';
    import Header from '@/components/Header.vue'
    import Footer from '@/components/Footer.vue'
    import ToggleButton from 'vue-js-toggle-button'

    Vue.use(ToggleButton)
    Vue.component('b-form-select', bFormSelect);

    export default {
        name: "moderator-page",
        components: {Header, Footer},
        data() {
            return {
                selected: "tech",
                options: [
                    "tech", "news", "auto"
                ],
                fields: [
                    {key: 'index', label: 'id', sortable: true},
                    {key: 'text', label: 'Comment', 'class': 'text-left'},
                    {key: 'first_name', label: 'First name','class': 'text-center noWrap'},
                    {key: 'last_name', label: 'Last name', 'class': 'text-center noWrap'},
                    {key: 'username', label: 'Username', 'class': 'text-center',sortable: true,},
                    {key: 'yp', label: 'YP', sortable: true, 'class': 'text-center'},
                    {key: 'banUser', label: 'Ban', 'class': 'text-center'},
                    {key: 'hideComment', label: 'Show / Hide', 'class': 'text-center noWrap'},
                    {key: 'deleteButton', label: ''}
                ],
                currentPage: 1,
                // totalRows: comments.length,
                perPage: 3,
                comments: [],
                currentDate: "",
                previousDate: ""


            }
        },
        methods: {
            categoryChange: function () {
                const currentState = this;
                Vue.nextTick(function () {
                    currentState.getComments();
                })
            },
            getDates: function () {
                //date.getTime() - (date.getTimezoneOffset() * 60000)
                const date = new Date();
                const yesterday = new Date();
                yesterday.setDate(date.getDate() - 1);
                this.currentDate = date.toISOString().substring(0,19);
                this.previousDate = yesterday.toISOString().substring(0,19);
            },
            getComments: function () {
                this.comments = [];
                this.getDates()
                const currentState = this;
                this.$http.get("/comments/category/" + this.selected + "/raw?start=0&limit=100&from=" + this.previousDate +
                "&to=" + this.currentDate).then(
                    (res) => {
                        currentState.comments = res.data;
                        currentState.checkIfCommentIsBanned();
                        console.log(currentState.comments);
                    } ,(res) => {
                        console.log(res);
                    }
                );
            },
            hideOrUnhide: function (item) {
                if (item.isBanned === true) {
                    this.$http.get("/comment/" + item.id + "/hide").then(
                        (res) => {

                        } ,(res) => {
                            console.log(res);
                        }
                    );
                } else {
                    this.$http.get("/comment/" + item.id + "/unhide").then(
                        (res) => {

                        } ,(res) => {
                            console.log(res);
                        }
                    );
                }
            },
            checkIfCommentIsBanned: function () {
                this.comments.forEach(function(element) {
                    if (element.moderationStatus === 'BANNED') {
                        element.isBanned = true;
                    } else {
                        element.isBanned = false;
                    }
                });
            }
        },
        mounted() {
            this.getComments();
        },
    }
</script>

<style  scoped lang="scss">
    .deleteButton {
        min-width: 20px;
    }
    .moderator {
        margin: 0 auto;
        width: 95%;
        max-width: 960px;

        .moderator__selectBox {
            margin: 2rem 0;
            display: flex;
            justify-content: left;

            .moderator__selectBox__section {
                text-align: left;

                select {
                    min-width: 400px;
                }

                h2 {
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                }
            }
        }
        .pagination {
            justify-content: flex-start;
        }
    }

</style>