<template>
    <div>
        <Header/>

        <main class="oneNews">
            <div class="oneNews__newsHeader">
                <p>{{$store.state.news.title}}</p>
                <hr/>
                <span class="oneNews__newsHeader__category">{{$store.state.news.category}}</span>
            </div>

            <div class="oneNews__newsBody">
                <div class="oneNews__newsBody__firstColumn">
                    <div class="oneNews__newsBody__firstColumn__news">
                        <span>{{$store.state.news.value}}</span>
                        <div class="oneNews__newsBody__firstColumn__news__infoUnderNews">
                            <span>{{$store.state.news.date.replace('T', ' ')}}</span>
                            <span><a :href="$store.state.news.link">News original source</a></span>
                            <div class="oneNews__newsBody__firstColumn__socialMedia">
                                <facebook :url="url" scale="2"></facebook>
                                <twitter :url="url" title="News title" scale="2"></twitter>
                                <telegram :url="url" scale="2"></telegram>
                                <whats-app :url="url" title="News title" scale="2"></whats-app>
                                <google :url="url" scale="2"></google>
                            </div>
                        </div>
                    </div>
                    <div class="oneNews__newsBody__firstColumn__textarea">
                        <p>{{255 - comment.length}}</p>
                        <wysiwyg class="textEditor" @change="draftComment" v-model="comment" placeholder="Write your comment here..."/>
                        <div class="oneNews__newsBody__firstColumn__textarea__button">
                            <button class="button-transparent sendButton" v-bind:class="{disabled : !$store.state.loggedIn}"
                                    v-on:click="sendComment" :disabled="!$store.state.loggedIn">Send</button>
                        </div>
                    </div>
                </div>
                <div v-for="(comment, index) in comments">
                    <div class="oneNews__comments">
                        <div class="oneNews__comments__avatar">
                            <img class="oneNews__comments__avatar__userAvatar" :src="$store.state.user.pictureUrl"/>
                            <div>{{comment.user.userPoints}}</div>
                        </div>
                        <div class="oneNews__comments__comment">
                            <span class="oneNews__comments__comment__username">{{comment.user.name}}</span>
                            <span class="oneNews__comments__comment__time">at {{comment.submitTime.replace('T', ' ')}}</span>
                            <img src="../assets/img/star.svg" class="starImg"/>
                            <section>{{comment.text}}</section>
                            <div class="oneNews__comments__comment__like">
                                <div class="oneNews__comments__comment__like__inlineBlock" :id="index"  v-model="comment.isLiked" v-bind:class="[comment.hasLike ? 'activeLike' : 'inactiveLike']" @click="likeOrUnlike(index)">
                                    <span v-if="comment.likesCount > 0">{{comment.likesCount}}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
                                    <span v-if="comment.likesCount < 1">Like it</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <Footer/>
    </div>

</template>

<script>
    import Vue from 'vue'
    import { Facebook, Twitter, Telegram, WhatsApp, Google  } from 'vue-socialmedia-share';
    import Header from '@/components/Header.vue'
    import Footer from '@/components/Footer.vue'
    import Toasted from 'vue-toasted';
    import store from '../store.js'

    Vue.use(Toasted);

    export default {
        name: "one_news",
        components: { Header, Footer, Facebook, Twitter, Telegram, WhatsApp, Google},
        data() {
            return{
                url: "yourpoint.io",
                comment: "",
                id: "",
                isActive: false,
                comments: [],
                commentLikes: []
            }
        },
        methods: {
            likeOrUnlike: function(index){
                const currentState = this;
                if (this.comments[index].isLiked) {
                    this.$http.get("/comment/" + this.comments[index].id + "/unlike").then(
                        (res) => {
                            currentState.getAllComments();
                            // currentState.comments[index].isLiked = false;
                            // currentState.comments.likesCount = currentState.comments.likesCount - 1 + "";

                        } ,(res) => {
                            console.log(res);
                        }
                    );
                } else {
                    this.$http.get("/comment/" + this.comments[index].id + "/like").then(
                        (res) => {
                            currentState.getAllComments();
                            // currentState.comments[index].isLiked = true;
                            // currentState.comments.likesCount = currentState.comments.likesCount + 1 + "";
                        } ,(res) => {
                            console.log(res);
                        }
                    );
                }
            },
            draftComment: function () {
                const currentState = this;
                this.$http.get("/topic/" + store.state.news.id + "/draft").then(
                    (res) => {
                        currentState.id = res.data;
                        if (currentState.id != "" ) {
                            currentState.updateComment();
                        }
                    } ,(res) => {
                        console.log(res);
                    }
                );
            },
            updateComment: function () {
                var comment = this.comment.replace(/<\/?[^>]+(>|$)/g, "");
                this.$http.post("/comment/" + this.id + "/update", {"text": comment.replace("&nbsp;", "")}).then(
                    (res) => {

                    } ,(res) => {
                        console.log(res);
                    }
                );
            },
            sendComment: function() {
                const currentState = this;
                this.$http.get("/comment/" + this.id + "/submit").then(
                    (res) => {
                        currentState.comment = "";
                        currentState.$toasted.show("Comment was added!", {
                            theme: "primary",
                            duration: 1500
                        });
                        currentState.getAllComments();
                    } ,(res) => {
                        currentState.$toasted.show("Comment was not send, press send once again, please", {
                            theme: "primary",
                            duration: 1500
                        });
                        console.log(res);
                    }
                );
            },
            getAllComments: function () {
                const currentState = this;
                this.$http.get("/topic/" + store.state.news.id + "/comments?start=0&limit=15").then(
                    (res) => {
                        currentState.comments = res.data;
                        currentState.checkIfCommentIsLikedByCurrentUser();
                    } ,(res) => {
                        console.log(res);
                    }
                );
            },
            checkIfCommentIsLikedByCurrentUser: function () {
                var currentState = this;
                this.comments.forEach(function(element) {
                    element.isLiked = element.hasLike;
                });
            }
        },
        beforeMount(){
            this.getAllComments();
        },
    }
</script>

<style lang="scss">

    .oneNews {
        margin: 0 auto;

        width: 95%;
        max-width: 960px;
    }

    .oneNews__newsHeader {
        font-size: 26px;
        margin: 2rem 0;
        font-weight: 600;
        color: #000;
        hr {
            margin: 1.5rem auto 1rem;
            height: 3px;
            width: 180px;
            background-color: black;
        }
        .oneNews__newsHeader__category {
            font-size: 18px;

        }
    }

    .oneNews__newsBody {
        text-align: left;
        font-size: 14px;
        padding: 0 100px;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
    }

    .oneNews__newsBody__firstColumn {
        width: 680px;
        margin: 0 auto 1.5rem auto;
    }

    .oneNews__newsBody__firstColumn__news {
        line-height: 24px;
    }

    .oneNews__newsBody__firstColumn__addComment {
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .oneNews__newsBody__firstColumn__news__infoUnderNews {
        white-space: nowrap;
        display: flex;
        margin-top: 1rem;
        font-size: 12px;
        span, a {
            margin-right: 0.5rem;
            color: #909090;
        }

    }

    .oneNews__newsBody__firstColumn__textarea {
        margin: 1.5rem 0 2rem;
        p {
            text-align: right;
            color: #b2b2b2;
            font-size: 12px;
        }
        .textEditor {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 0 150px 10px 10px;
            width: 100%;
            outline: none;
            border: 1px solid #b2b2b2;
            border-radius: 3px;
            resize: none;
            .editr--toolbar {
                margin-left: auto;
                background-color: white;
                border: 0;
                margin-right: -140px;
                margin-top: 8px;
                a {
                    fill: #b2b2b2;
                }
                .vw-btn-bold, .vw-btn-italic, .vw-btn-underline, .vw-btn-justifyLeft, .vw-btn-justifyCenter, .vw-btn-justifyRight,
                .vw-btn-separator, .vw-btn-headings, .vw-btn-code, .vw-btn-orderedList, .vw-btn-unorderedList, .vw-btn-image,
                .vw-btn-table, .vw-btn-removeFormat{
                    display: none;
                }
            }
            .editr--content {
                margin-top: -38px;
                color: #666;
                overflow-y: hidden;
            }
        }

        .oneNews__newsBody__firstColumn__textarea__button{
            display: flex;
            justify-content: flex-end;
        }
        .sendButton {
            position: absolute;
            background: transparent;
            margin-left: -18px;
            border-radius: 4px;
            height: 32px;
            padding: 0 32px;
            transition: all 0.2s ease-in;
            font-size: 13px;
            cursor: pointer;
            margin-top: -50px;
            border: 1px solid #b2b2b2;
            color: black;
        }
        .sendButton:hover {
            border-color: darkgray;
        }
    }

    .oneNews__newsBody__firstColumn__socialMedia {
        width: 65%;
        display: flex;
        cursor: pointer;
        justify-content: flex-end;
        span {
            margin-right: 0.5rem;
            svg {
                margin-top: -3px;
                height: 19px;
                width: 19px;
            }
        }

    }

    .oneNews__comments{
        width: 680px;
        display: flex;
        text-align: left;
        font-size: 14px;
        line-height: 1.5;
        margin: 0 auto 1.5rem auto;
        .oneNews__comments__avatar__userAvatar {
            height: 48px;
            width: 48px;
            border-radius: 50%;
        }
    }

    .oneNews__comments__avatar{
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        div {
            margin-top: 0.5rem;
            text-align: center;
            color: #d03c29;
            font-size: 12px;
            font-weight: 600;
            white-space: nowrap;
        }
    }

    .oneNews__comments__comment{

        width: 100%;
        font-size: 13px;
        .oneNews__comments__comment__username {
            color: black;
            font-weight: 600;
            margin-right: 10px;
        }
        section {
            line-height: 24px;
            margin-top: 0.5rem;
        }
        .oneNews__comments__comment__time {
            color: #b2b2b2;
            margin-right: 0.5rem;
        }
        .starImg {
            height: 18px;
            width: 18px;
            margin-top: -5px;
        }
        .oneNews__comments__comment__like {
            color: #c5c5c5;
            display: flex;
            justify-content: flex-end;
            fill: #c5c5c5;
            .oneNews__comments__comment__like__inlineBlock {
                display: inline-block;
                svg {
                    height: 14px;
                    width: 14px;
                    margin-right: 3px;
                }
            }
            .oneNews__comments__comment__like__inlineBlock:hover {
                fill: #a70909;
                color: #a70909;
            }

            .oneNews__comments__comment__like__inlineBlock:active {
                svg {
                    height: 12px;
                }
                span {
                    font-size: 12px;
                }
            }

        }
    }

    .disabled {
        background-color: gainsboro !important;
        cursor: default !important;
    }


</style>