<template>
    <div class="wrapper">
      <Header />
      <main class="main">
        <section class="pricing">
          <h1 class="pricing__title">Pricing</h1>
          <p>Hey! Now all our features are free for you. 
            <br/>Don't lose that great chance to enjoy all the topics without spending money ;)</p>
          <div class="pricing-blocks">
            <div class="one-pricing-block">
              <h2 class="one-pricing-block__title">Premium for 1 month</h2>
              <span class="one-pricing-block__price">8$</span>
              <button class="button" type="button" disabled>Change subscription</button>
            </div>

            <div class="one-pricing-block">
              <h2 class="one-pricing-block__title">Premium for 6 months</h2>
              <span class="one-pricing-block__price">25$</span>
              <button class="button" type="button" disabled>Change subscription</button>
            </div>
          </div><!--//pricing-blocks-->
        </section>
      </main>
      <Footer />
    </div>
</template>

<script>
    import Vue from 'vue'
    import Header from '@/components/Header.vue'
    import Footer from '@/components/Footer.vue'


    export default {
      name: "Pricing",
      components: {
        Footer, Header
      }
    }
</script>

<style scoped lang="scss">
  .pricing-blocks {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 24px 0;

    @media screen and (max-width: 680px) {
      flex-direction: column;
      align-items: center
    }
  }

  .one-pricing-block {
    width: 240px;
    margin: 16px;
    border-radius: 3px;
    border: 1px solid #d8d2d2 ;
    padding: 16px;
    text-align: center;
  }

  .one-pricing-block__title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .one-pricing-block__price {
    display: block;
    font-size: 36px;
    font-weight: bold;
    margin: 16px 0;
    color: #ce2e2e;
  }
    
</style>