<template>
    <div>
        <myHeader :headerProps = "{'YP': '/', profile: '/profile',
                     stats: '/', smth: '/'}"/>
        <div class="profile">
            <img :src="$store.state.user.pictureUrl" class="profile__avatar"/>

            <div class="profile__username">
                <span>{{$store.state.user.username}}</span>
            </div>

            <div class="profile__info">
                <div class="profile__info__registrationInfo">
                    <span>{{$store.state.user.email}}</span>
                    <span class="profile__info__registrationInfo__date">Registered at {{$store.state.user.registrationDate}}</span>
                </div>

                <div class="profile__info__userInfo">
                    <div class="profile__info__userInfo__line">
                        <span><b>Points: </b>{{$store.state.user.yp}}</span>
                    </div>
                    <div>
                        <span><b>Account status: </b>{{$store.state.user.subscriptionType}}</span>
                    </div>
                </div>
            </div>

        </div>
        <myFooter class="myFooter"></myFooter>
    </div>
</template>

<script>
    import Vue from 'vue';
    import Header from '@/components/Header.vue'
    import Footer from '@/components/Footer.vue'
    import store from '../store.js'
    import axios from 'axios'

    export default {
        components: {"myHeader": Header, "myFooter": Footer },
        name: 'Profile',
        data() {
            return {

            }
        },

        methods: {

        }
    }


</script>

<style lang="scss">

    .profile {
        margin: 2rem auto;
        width: 95%;
        max-width: 960px;

    }

    .profile__avatar {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    .profile__username {
        margin-top: 1rem;
        font-size: 18px;
        font-weight: 600;
        color: #962c2c;
    }

    .profile__info {
        display: inline-block;
        justify-content: center;
    }

    .profile__info__registrationInfo {
        margin-top: 0.7rem;
        display: flex;
        font-size: 13px;
        font-weight: 600;
        color: black;
        justify-content: left;
    }

    .profile__info__registrationInfo__date {
        &::before {
            content: '*';
            margin: 0 0.5rem;
        }
    }

    .profile__info__userInfo {
        text-align: left;
        font-size: 14px;
        border-top: 1px solid black;
        margin: 1rem auto;

        .profile__info__userInfo__line {
            margin: 1rem 0;
        }

    }

</style>