<template>
  <div class="page__rating">
    <Header :headerProps = "{'YP': '/', Settings: '/profile',
                      Account: '/profile', 'Log out': '/'}"/>
    <main class="main">
      
      <section class="rating">
        
        <header class="rating__header">

          <div class="rating__header__left">
            <span class="rating__header__title">Add rating</span>
            <div class="rating__header__links">
              <router-link to="/"  class="rating__header__link">Add rating</router-link>
              <router-link to="/"  class="rating__header__link">Rating history</router-link>
              <router-link  to="/" class="rating__header__link">Help</router-link>
            </div>
          </div>

          <div class="rating__header__right">
            <span class="rating__header__name">Hello, {{name}}</span>
            <span class="rating__header__rating">Your rating: <span>{{ points }} YP</span></span>
          </div>

        </header>

        <div class="rating__items">
          <RatingItemToBuy
            :points="0.5"
            :price="15"
            :stars="3"
            :advantages="[
              {id: 1, text: 'Advantage number one for you'},
              {id: 2, text: 'You will get second Advantage'},
            ]"
          />
          <RatingItemToBuy
            :points="10"
            :price="30"
            :stars="3"
            :advantages="[
              {id: 1, text: 'Advantage number one for you'},
              {id: 2, text: 'You will get second Advantage'},
              {id: 3, text: 'Third advantage'}
            ]"
          />
          <RatingItemToBuy
            :points="30"
            :price="75"
            :stars="3"
            :advantages="[
              {id: 1, text: 'Advantage number one for you'},
              {id: 2, text: 'You will get second Advantage'},
              {id: 3, text: 'Third advantage'}
            ]"
          />
        </div>

        <div class="rating__text-block">
          <p>We have already created our very first Vue app! This looks pretty similar to rendering a string template, 
          but Vue has done a lot of work under the hood. The data and the DOM are now linked, and everything is now reactive. 
          How do we know? Open your browser’s JavaScript console (right now, on this page) and set app.message to a different value. 
          You should see the rendered example above update accordingly.</p>
          
          <p>This example demonstrates that we can bind data to not only text and attributes, 
            but also the structure of the DOM. Moreover, Vue also provides a powerful transition effect system that can automatically 
            apply transition effects when elements are inserted/updated/removed by Vue.</p>
        </div>

      
      </section>
      
    </main>
    <myfooter />
  </div>
</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import Header from '@/components/Header.vue'
  import Footer from '@/components/Footer.vue'
  import RatingItemToBuy from './Rating/RatingItemToBuy.vue'

  export default {
    name: 'Rating',
    components: { Header, 'myfooter': Footer, RatingItemToBuy, Link },
    data() {
      return {
        points: 3,
        name: 'Ivan Ivanov'
      }
    },
  }
</script>

<style lang="scss">

  .rating {
    text-align: left;
    margin: 2rem auto;
    max-width: 960px;
  }

  .rating__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin: 2rem 0;
    border-bottom: 1px solid #ced4da;
    align-items: flex-end;

    .rating__header__left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .rating__header__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .rating__header__title {
      font-size: 2rem;
      color: #000;
      margin-bottom: 0.5rem;
    }

    .rating__header__name {
      font-size: 1rem;
      color: #000;
      margin-bottom: 0.5rem;
    }

    .rating__header__rating {
      font-size: 0.85rem;
      color: #7f7f7f;

      span {
        color: #b22e2e;
        font-weight: 600;
      }
    }

    .rating__header__link {
      margin-right: 1rem;
      opacity: 0.3;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        color: #8e1e1e;
        opacity: 1;
        text-decoration: underline;
      }
    }
  }

  .rating__text-block {
    font-size: 1rem;
    line-height: 2;
    margin: 3rem 0;

    p + p {
      margin-top: 1rem;
    }
  }

  .rating__items {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
  }

</style>