<template>
  <div class="page__team">
    <Header :headerProps = "{'Sign-up': '/registration', Login: '/login',
                      Prices: '/upgrade'}"/>
    <main class="main about">
     
      <section class="static">
        <h1>Team</h1>
        <article>
          <p>Thou bastard, come on thou little arse… Frig with me, eh? Thou bloody little arsehole, knobhead bellsucker… 
            Thou friggin' come on, come frig with me! I'll get thy arse, thou bugger! Oh, thou berkeley bastard! 
            Frig all thou and thy family! Come on, thou bellsucker, poxy bucket, cackface nuffball! Come on, thou scum tosser, thou frigging with me?
            Come on, thou arsehole!!!</p>

          <p>Thou bastard, come on thou little arse… Frig with me, eh? Thou bloody little arsehole, knobhead bellsucker… 
            Thou friggin' come on, come frig with me! I'll get thy arse, thou bugger! Oh, thou berkeley bastard! 
            Frig all thou and thy family! Come on, thou bellsucker, poxy bucket, cackface nuffball! Come on, thou scum tosser, thou frigging with me?
            Come on, thou arsehole!!!</p>

          <p>Thou bastard, come on thou little arse… Frig with me, eh? Thou bloody little arsehole, knobhead bellsucker… 
            Thou friggin' come on, come frig with me! I'll get thy arse, thou bugger! Oh, thou berkeley bastard! 
            Frig all thou and thy family! Come on, thou bellsucker, poxy bucket, cackface nuffball! Come on, thou scum tosser, thou frigging with me?
            Come on, thou arsehole!!! Thou friggin' come on, come frig with me! I'll get thy arse, thou bugger! Oh, thou berkeley bastard! 
            Frig all thou and thy family! </p>
        </article>
      </section>
     
    </main>
    <myfooter />
  </div>
</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import Header from '@/components/Header.vue'
  import Footer from '@/components/Footer.vue'

  export default {
    name: 'Team',
    components: { Header, 'myfooter': Footer },
  }
</script>

<style scoped lang="scss">

</style>