<template>
  <div class="page__topicmaker">
    <Header :headerProps = "{'Sign-up': '/registration', Login: '/login',
                     Prices: '/upgrade'}"/>
    <main class="container">
      <section class="topic-master">
        <h1>TopicMaster management page</h1>

        <section class="topic-master-block">
          <h2>Active Topic</h2>

          <div class="topic-master-section-menu">
            <span v-on:click="statItems">start selected items</span>
            <span v-on:click="stopItems" v-if="showStop">stop selected items</span>
            <span v-on:click="getLogsForItems">get logs from selected</span>
          </div>

          <table class="topic-master-active-table">
            <thead>
              <tr>
                <th></th>
                <th>Topic</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="topic in topics" v-bind:key="topic.topicId">
                <td>
                  <b-form-checkbox
                    class="table-checkbox"
                    v-bind:id="topic.topicId"
                    v-bind:value="topic.topicId"
                    v-model="selectedTopics"
                  />
                </td>
                <td>{{topic.topic}}</td>
                <td>{{topic.status}}</td>
                <td>
                  <div class="actions">
                    <span v-on:click="log(topic.topicId)">Log</span>
                    <span v-on:click="topicTaskId(topic.topicId)">TopicTaskId</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- <p style="color: green">{{selectedTopics}}</p> -->

        </section><!--//topic-master-block-->

        <section class="topic-master-block">
          <h2>Create topic</h2>
          <CreateTopic />

        </section>

      </section>
      
    </main>
    <myfooter />
  </div>
</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import Header from '@/components/Header.vue'
  import Footer from '@/components/Footer.vue'
  import CreateTopic from './TopicMaker/CreateTopic.vue'
  import bFormCheckboxGroup from 'bootstrap-vue/es/components/form-checkbox/form-checkbox'

  const topics = [
    { topicId: 1, topic: 'BBC tRSS', status: 'STOPPED' },
    { topicId: 2, topic: 'Lenta RSS', status: 'READY' },
    { topicId: 3, topic: 'Lenta RSS', status: 'READY' }
  ]

  export default {
    name: 'TopicMaker',
    components: { Header, 'myfooter': Footer, CreateTopic },
    data() {
      return {
        showStop: true,
        topics,
        selectedTopics: []
      }
    },
    methods: {
      statItems: function() {
        // BE is needed
        console.log('statItems', selectedTopics)
      },
      stopItems: function() {
        // BE is needed
        console.log('stopItems', this.selectedTopics)
      },
      getLogsForItems: function() {
        // BE is needed
        console.log('getLogsForItems', this.selectedTopics)
      },
      log: function(id) {
        // BE is needed
        console.log('log', id)
      },
      topicTaskId:  function(id) {
        // BE is needed
        console.log('topicTaskId', id)
      },
      
    }
  }
</script>

<style scoped lang="scss">
  .topic-master {
    text-align: left;
    margin: 2rem auto;
    max-width: 800px;

    h1 {
      font-size: 0.8rem;
      margin: 0;
      color: #333;
    }

    h2 {
      font-size: 1.5rem;
      margin: 1rem 0;
    }

    .topic-master-section-menu {
      display: flex;
      align-items: center;
      margin: 1rem 0;

      &:before {
        content: '>';
        margin-right: 1rem;
      }
    }

    .topic-master-section-menu > * {
      margin-right: 1rem;
      font-size: 0.8rem;
      color:#1c75f4;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: #0755c5;
      }
    }

    .topic-master-active-table {
      border-collapse: collapse;
      border: 1px solid #ced4da;;
      width: 100%;
      font-size: 0.8rem;
      border-radius: 0.25rem;

      .table-checkbox {
        margin: 0;
      }

      td, th {
        border: 1px solid #999;
        background: #fff;
        padding: 0.5rem;
        text-align: center;
        vertical-align: middle;

        &:first-child {
          text-align: center;
        }
      }

      th {
        background: #666;
        font-weight: normal;
        color: #fff;
      }
    }

    .actions {
      span {
        cursor: pointer;

        &:hover {
          color: #0755c5;
        }

        &:after {
          display: inline-block;
          content: '|';
          margin: 0 0.5rem;
        }

        &:last-child:after {
          display: none;
        }
      }
    }
  }


</style>