<template>
    <div class="container">
        <div class="add-margin-top-25">
            <myHeader
                    :headerProps = "{Home: '/home', Profile: '/profile',
                     Upgrade: '/upgrade', 'Point groups': '/point_groups'}"></myHeader>
            <div class="columns add-margin-top-100">
                <div class="column is-4 container">
                    <b-card img-src="https://picsum.photos/600/300/?image=25"
                            img-alt="Image"
                            img-top
                            tag="article"
                            style="max-width: 20rem;"
                            class="mb-2">
                        <p class="subtitle has-text-centered">First level</p>
                        <div class="card-text has-text-left add-margin-top-25">
                            <p class="checkMarkLabel"><img class="myCheckmark add-margin-right-15" src="../images/checkmark.jpg"/>Fiers</p>
                            <p class="checkMarkLabel"><img class="myCheckmark add-margin-right-15" src="../images/checkmark.jpg"/>Rvdvfv</p>
                            <p class="checkMarkLabel"><img class="myCheckmark add-margin-right-15" src="../images/checkmark.jpg"/>Rdfvf</p>
                        </div>
                        <hr>
                        <b-button href="#" variant="primary">Upgrade</b-button>
                    </b-card>
                </div>
                <div class="column is-4 container">
                    <b-card img-src="https://picsum.photos/600/300/?image=25"
                            img-alt="Image"
                            img-top
                            tag="article"
                            style="max-width: 20rem;"
                            class="mb-2">
                        <p class="subtitle has-text-centered">Second level</p>
                        <div class="card-text has-text-left add-margin-top-25">
                            <p class="checkMarkLabel"><img class="myCheckmark add-margin-right-15" src="../images/checkmark.jpg"/>Fiers</p>
                            <p class="checkMarkLabel"><img class="myCheckmark add-margin-right-15" src="../images/checkmark.jpg"/>Rvdvfv</p>
                            <p class="checkMarkLabel"><img class="myCheckmark add-margin-right-15" src="../images/checkmark.jpg"/>Rdfvf</p>
                        </div>
                        <hr>
                        <b-button href="#" variant="primary">Upgrade</b-button>
                    </b-card>
                </div>
                <div class="column is-4 container">
                    <b-card img-src="https://picsum.photos/600/300/?image=25"
                            img-alt="Image"
                            img-top
                            tag="article"
                            style="max-width: 20rem;"
                            class="mb-2">
                        <p class="subtitle has-text-centered">Premium</p>
                        <div class="card-text has-text-left add-margin-top-25">
                            <p class="checkMarkLabel"><img class="myCheckmark add-margin-right-15" src="../images/checkmark.jpg"/>Fiers</p>
                            <p class="checkMarkLabel"><img class="myCheckmark add-margin-right-15" src="../images/checkmark.jpg"/>Rvdvfv</p>
                            <p class="checkMarkLabel"><img class="myCheckmark add-margin-right-15" src="../images/checkmark.jpg"/>Rdfvf</p>
                        </div>
                        <hr>
                        <b-button href="#" variant="primary">Upgrade</b-button>
                    </b-card>
                </div>
            </div>

        </div>
        <myFooter />
    </div>
</template>

<script>
    import Vue from 'vue'
    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'
    import BootstrapVue from 'bootstrap-vue'
    import Header from '@/components/Header.vue'
    import Footer from '@/components/Footer.vue'
    Vue.use(BootstrapVue);
    export default {
        name: "upgrade",
        components:{
            "myFooter": Footer,
            "myHeader": Header
        }
    }
</script>

<style scoped lang="scss">

    .fieldsDiv{
        float: right;
    }

    @media screen and (max-width: 770px) {
        .columns {
            margin-left: 0;
            margin-right: 0;
        }
        .myFooter {
            position: relative;
        }


    }
</style>