<template>
  <div class="index__add-comment tooltip__form">
    <textarea
      class="form__input index__add-comment__textarea"
      placeholder="Add comment"
      maxlength="255"
    ></textarea>
    <button class="index__add-comment__button button-transparent">Send</button>
  </div>
</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import Upgrade from '../views/Upgrade'

  export default {
    name: 'AddComment',
    components: { Link, Upgrade },
  }

</script>

<style scoped lang="scss">
  .index__add-comment {
    position: absolute;
    width: 300px;
    top: 125%;
    // height: 200px;
  }

  .index__add-comment__textarea {
    border: 0;
    height: 100px;
    resize: none;
    margin-bottom: 8px;
  }

  .index__add-comment__button {
    float: right;
  }
</style>