<template>
    <footer class="footer">
      <div class="footer__inner">

        <nav class="footer__menu">
          <span v-for="(value, key) in headerProps" v-bind:key="value">
            <router-link :to="value">{{ key }}</router-link>
          </span>
        </nav>

        <div class="footer__social">
          <router-link to="twitter.com">
            <img src="../assets/img/facebook.png"/>
          </router-link>
          <router-link to="twitter.com">
            <img src="../assets/img/twitter.png"/>
          </router-link>
          <router-link to="/instagram.com">
            <img src="../assets/img/inst.png"/>
          </router-link>
        </div>

        <!-- <div class="footer__statistic">
          <span class="footer__statistic__item">{{users}} users</span>
          <span class="footer__statistic__item">YP daily activity: {{points}} YP</span>
          <span class="footer__statistic__item">{{comments}} new comments</span>
        </div>    -->

      </div>
    
    </footer>
</template>

<script>
    import Vue from 'vue'
    import StarRating from 'vue-star-rating'
    import Link from 'bootstrap-vue/src/components/link/link'
    import Nav from '@/components/Nav.vue'
    import Logo from '@/components/Logo.vue'

    export default {
      name: "myfooter",
      components: {Nav, Logo, Link },
      data() {
        return {
          headerProps: {about: '/about', contacts: '/contacts',
                    team: '/team', profile: '/profile'},
          points: '+50',
          users: '+10000',
          comments: '+53453845'
        }
      },
    }
</script>

<style scoped lang="scss">
  .footer {
    background: #000;
    padding: 0;
    margin-top: 2rem;
    padding: 1.5rem 0;

    @media screen and (max-width: 680px) {
      padding: 16px 0;
    }

    .footer__inner {
      width: 95%;
      max-width: 960px;
      margin: 0 auto;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      @media screen and (max-width: 600px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }


  .footer__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    @media screen and (max-width: 770px) {
      display: none;   
    }

    span {
      display: flex;
      align-items: center;
      font-size: 13px;

      a {
        color: white;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        text-decoration: none;

        &:hover {
          opacity: 1;
        }
      }

      &::before {
        content: '|';
        display: inline-block;
        margin: 0 16px;
        color: #b0b0b0;
      }

      &:first-child {
        &::before {
          display: none;
        }
      }
    }
  }

  .footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    //width: 20%;
    margin: 24px 0;
    
    @media screen and (max-width: 600px) {
      justify-content: center;
      width: 100%;
      margin: 8px 0;
    }

    a {
      height: 18px;
      display: flex;
      align-items: center;
      margin: 0 16px;
      transition: 0.2s all ease-in-out;
      opacity: 1;

      &:hover {
        opacity: 0.6;
      }

      img {
        width: auto;
        height: 100%;
      }
    }
  }

  .footer__statistic__item {
    margin: 0 16px ;
    font-size: 13px;
    color: #564e48;

    @media screen and (max-width: 680px) {
      display: block;
      margin: 8px 0;
    }
  }

</style>