<template>
    <div>
        <form class="index__header__tooltip tooltip__form">
            <input type="text" class="form__input index__header__tooltip__input" placeholder="Email" v-model="postData.email">
            <button type="button" class="tooltip__form__button button-transparent" v-on:click = "sendData">Send email</button>
        </form>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Link from 'bootstrap-vue/src/components/link/link'
    import Upgrade from '../views/Upgrade'
    import store from '../store.js'

    export default {
        name: 'ForgotPassword',
        components: { Link },
        data() {
            return {
                postData: {
                    "email": "",
                }


            }
        },
        methods: {


            sendData: function () {
                // Vue.http.post("/api/v1/login", this.postData).then(
                //     function (res) {
                //         store.commit('setToken', res.data.token);
                //         store.commit('login');
                //     } ,function (res) {
                //         res.error();
                //     }
                // );
            }


        }


    }

</script>

<style scoped lang="scss">
    .index__header__tooltip {
        top: 40px;
        width: 240px;
    }

    .tooltip__form__button {
        margin-top: 1rem;
        margin-bottom: 1rem;
        outline: none;
    }

</style>
