<template>
  
    <trend
      :data="points"
      :gradient="['#f7af16', '#f18139', '#e44c79']"
      auto-draw
      smooth>
    </trend>
    

</template>
<script>
  import Vue from 'vue'
  import store from '../store.js'
  import Trend from 'vuetrend';
  Vue.use(Trend);

  export default {
    name: 'Graphic',
    data() {
    return {
      modal: false,
      points: []
    }
  },
  methods: {
      getGrafData: function () {
          const currentState = this;
          this.$http.get('/plot/category/' + store.state.news.category.substring(9))
              .then(
                  (res) => {
                      currentState.points = res.data.map(item => item.t2);
                  } ,(err) => {
                      console.log('error',err);
                  }
              );
      }
  },
  mounted() {
    this.getGrafData();
  }
   
}

</script>

<style scoped lang="scss">


</style>