<template>
  <main class="chart">
    <figure class="chart__content">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -25 440 125">
        <path class="chart__path" :d="`M${path}`"
          fill="none" stroke="rgba(0, 0, 0, 0.4)"
          stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        
        <text v-for="([ x, y ]) in path" :x="x - 10" :y="y - 7.5"
          font-size="11" font-weight="200" fill="currentColor">
          {{ 100 - (y | 0) + '%' }}
        </text>
      </svg>
    </figure>
    
  </main>
</template>
<script>
  import Vue from 'vue'
  import { TweenLite } from "gsap/TweenMax";
  export default {
    name: 'Graphic',
    data() {
    return {
      modal: false,
      points: { a: -1, b: -1, c: -1, d: -1, e: -1 }
    }
  },
  
  computed: {
    path() {
      return Object.keys(this.points)
        .filter(key => ~'abcde'.indexOf(key))
        .map((key, i) => [i * 100, 100 - this.points[key]])
    }
  },
  
  methods: {
    setPoint(key) {
      let duration = this.random(3, 8)
      let destination = this.random(0, 100)
      this.animatePoint({ key, duration, destination })
    },
    
    animatePoint({ key, duration, destination }) {
      TweenLite.to(this.points, duration, {
				[key]: destination,
				ease: Sine.easeInOut,
				onComplete: this.setPoint,
				onCompleteParams: [key]
			})
    },
    
    random(min, max) {
			return ((Math.random() * (max - min)) + min).toFixed(2)
		}
  },
  
  mounted() {
    Object.keys(this.points).forEach(this.setPoint)
  }
   
}

</script>

<style scoped lang="scss">
.chart {
  height: 250px;
  display: flex;
  color: #000;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  // background: linear-gradient(rgb(192, 241, 149), rgb(76, 155, 149));
  
  &__content {
    width: 100%;
    max-width: 775px;
    padding-right: 1.5rem;
    position: relative;
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
    }
    
    &::before {
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, rgba(black, 0.3), rgba(black, 0) 110%);
    }
    
    // &::after {
    //   width: 1px;
    //   height: 100%;
    //   background: linear-gradient(to top, rgba(black, 0.3), rgba(black, 0) 110%);
    // }
    
    svg {
      display: block;
    }
  }
  
  &__caption {
    left: 50%;
    top: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 100%);
  }
  
  &__title {
    font-size: 1.3rem;
  }
  
  &__subtitle {
    font-size: 1.15rem;
    margin-top: 0.5em;
  }
}


</style>