<template>
  <header class="header">
    <div class="header__inner">

    <div class="header__logo-wrapper" v-on:click="$router.push('/' )">
      <Logo />
    </div>

    <div class="header-right">

      <div class="user-menu__base tooltip__base"
        v-on:click="hideToolTip"
        v-if="isUserMenuOpen || isRegistrationOpen || isSignInOpen || isForgotPasswordOpen"
      />

      <div class="header__nav">
        
        <span class="menu__item menu_not-authorized" v-if="!$store.state.loggedIn">
          <span v-on:click="openRegistration">sign-up</span>

          <Registration v-if="isRegistrationOpen"/>
        </span>
        <span class="menu__item menu_not-authorized" v-if="!$store.state.loggedIn">
          <span v-on:click="openSignIn">log-in</span>
          <Login v-if="isSignInOpen"/>
          <ForgotPassword v-if="isForgotPasswordOpen"/>
        </span>
        <Nav/>

        <div class="burger" v-on:click="openMenu"></div>
        <div class="menuMobile" v-if="isMenuOpen">
          <div v-on:click="openMenu" class="close"></div>
          <Nav/>
        </div>
      </div>

      <div class="header__user" v-on:click="showUserMenu" v-if="$store.state.loggedIn">
       
        <div class="header__user-avatar">
          <img src="../assets/img/default-user.png" />
        </div>
        <div class="user-menu" v-if="isUserMenuOpen">
          <div class="basic-tooltip user-menu__tooltip">
            <div class="user" v-if="this.$store.state.loggedIn">
              <span class="user__name">{{this.$store.state.user.username}}</span>
              <span class="user__email">{{this.$store.state.user.email}}</span>
            </div>
            <div class="user-actions">
              <span
                class="user-actions__link user-actions__profile"
                v-on:click ="$router.push('/profile')"
              >
                Profile
              </span>
              <span class="user-actions__link user-actions__logout" v-on:click ="logout">Log-out</span>
            </div>

            <div class="user-rating">You have: <b class="user-rating__points">{{this.$store.state.user.yp}} YP.</b></div>
          </div>
        </div>
        <span class="header__open-user-menu-arrow"/>
      </div><!--//header-user-->

    </div><!--//header-right-->
 

  </div><!--//inner-->

</header>

</template>

<script>
  import Vue from 'vue'
  import Router from 'vue-router'
  import Link from 'bootstrap-vue/src/components/link/link'
  import Nav from '@/components/Nav.vue'
  import Logo from '@/components/Logo.vue'
  import Login from '@/components/Login.vue'
  import ForgotPassword from '@/components/ForgotPassword.vue'
  import Registration from '@/components/Registration.vue'
  import store from '../store.js'

  export default {
    name: 'Header',
    components: { Link, Nav, Logo, Login, Registration,ForgotPassword },
    props: {
      isIndex: { default: false, required: false }
    },
    data() {
      return {
        isMenuOpen: false,
        isUserMenuOpen: false,
        isRegistrationOpen: false,
        isSignInOpen: false,
        isForgotPasswordOpen: false
      }
    },
    methods: {
      openMenu: function() {
        this.isMenuOpen = !this.isMenuOpen
        console.log(this.isMenuOpen)
      },
      goToRating: function () {
        Router.push({ path: 'rating' })
      },
      logout: function () {
        store.commit('logout');
        this.$router.push('/')
      },
      showUserMenu: function() {
        this.isUserMenuOpen = !this.isUserMenuOpen
      },
      openSignIn: function() {
        this.isSignInOpen = !this.isSignInOpen;
        this.isRegistrationOpen = false;
        this.isForgotPasswordOpen = false;
      },
      openRegistration: function() {
        this.isRegistrationOpen = !this.isRegistrationOpen;
        this.isSignInOpen = false;
        this.isForgotPasswordOpen = false;
      },
      hideToolTip: function() {
        if(this.isRegistrationOpen) this.openRegistration();
        if(this.isSignInOpen) this.openSignIn();
        if(this.isUserMenuOpen) this.showUserMenu();
        if(this.isForgotPasswordOpen) this.isForgotPasswordOpen = false;
      },
    }
  }
</script>

<style scoped lang="scss">
  .header {
    background: #000;
    height: 48px;
  }

  .header__inner{
    width: 95%;
    height: inherit;
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    justify-content: space-between;
  }

  .header__nav {
    display: flex;
  }

  .user-menu__tooltip {
    right: 0;
    left: auto;
    top: 120%;
    min-width: 220px;
    max-width: 360px;
    text-align: left;
    transform: none;
    z-index: 900;
    padding-bottom: 35px;
  }

  .header__user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-align: right;
    margin-left: 16px;
    cursor: pointer;

    &:hover {
      .header__open-user-menu-arrow {
        opacity: 1;
      }
    }
  }

  .header__open-user-menu-arrow {
    width: 24px;
    height: 24px;
    opacity: 0.3;
    transition: 0.2s all ease-in-out;
    background: url(../assets/img/arrow-down-white.svg)
  }

  .header__user-avatar {
    width: 46px;
    height: 46px;
    
  }

  .menuMobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.95);
    color: #fff;
    padding: 1rem;
    z-index: 100;

    @media screen and (max-width: 600px) {
      display: block;   
    }

    .close {
      width: 100%;
      height: 2rem;
      width: 2rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: url('../assets/img/icon-close.svg') no-repeat right top;
      background-size: contain;
      opacity: 1;
    }
  }

  .burger {
    display: none;
    width: 32px;
    height: 32px;
    background: url('../assets/img/mobile-menu.svg') no-repeat;
    background-size: contain;
    opacity: 0.2;

    @media screen and (max-width: 770px) {
      display: block;   
    }
  }

  .header__logo-wrapper {
    right: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: auto;
      height: 100%;
    }
  }

  .user {
    border-bottom:  1px solid #303030;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }

  .user__name {
    display: block;
    color: #fff;
    font-size: 14px;
    margin-bottom: 4px;
  }

  .user__email {
    color: #999;
    font-size: 12px;
  }
  .user-actions {
    margin-bottom: 16px;
  }

  .user-actions__link {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 24px;
      background: no-repeat center center;
      margin-right: 8px;
      opacity: 0.5;
    }
  }

  .user-actions__profile {
    &:before {
      background-image: url(../assets/img/profile.png);
    }
  }

  .user-actions__logout {
    &:before {
      background-image: url(../assets/img/logout.png);
    }
  }

  .user-rating {
    position: absolute;
    bottom: 0;
    left:0 ;
    width: 100%;
    height: 35px;
    display: flex;
    align-items:center;
    justify-content: center;
    background: #b22e2e;
    color: #fff;
    font-size:14px;
    line-height: 1;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
  }

  .user-rating__points {
    margin-left: 4px;
  }

  .header-right {
    display: flex;
    align-items: center;
    position: relative;
  }

</style>