<template>
  <div class="header__logo">
    <!-- <span class="header__logo__y">Y.</span> -->
    <img src="../assets/img/logo.png" />
  </div>
</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import Upgrade from '../views/Upgrade'

  export default {
    name: 'HeaderLogo',
    components: { Link, Upgrade },
   
  }

</script>

<style scoped lang="scss">
  .header__logo {
    width: 68px;
  }

  .header__logo__y {
    font-family: Tahoma, sans-serif;
    color: #fff;
    font-size: 72px;
    text-shadow: 4px 4px 2px #a41b1b;
  }
</style>