<template>
  <div>
    <form class="index__header__tooltip tooltip__form" v-on:submit.prevent="sendData">
      <input type="text"
        class="form__input index__header__tooltip__input"
        placeholder="Username"
        v-model="postData.username"
      >
      <input type="password"
        class="form__input index__header__tooltip__input"
        placeholder="Password"
        v-model="postData.password"
      >
      <button type="submit" class="tooltip__form__button button-transparent">Sign in</button>
      <footer
        class="index__header__tooltip__footer">
          <a v-on:click="openForgotPassword">Forgot password?</a>
      </footer>
    </form>
  </div>
</template>

<script>
    import Vue from 'vue'
    import Link from 'bootstrap-vue/src/components/link/link'
    import Upgrade from '../views/Upgrade'
    import store from '../store.js'
    import Toasted from 'vue-toasted';

    Vue.use(Toasted);

    export default {
        name: 'Login',
        components: { Link, Upgrade },
        data() {
            return {
                postData: {
                    "username": "",
                    "password": ""
                },

            }
        },
        methods: {

            openForgotPassword() {
                this.$parent.isSignInOpen = false;
                this.$parent.isForgotPasswordOpen = true;
            },

            getProfileData: function () {
                this.$http.get("/userinfo/" + store.state.user.id).then(
                    (res) => {
                        store.commit('setUsername', res.data.name);
                        store.commit('setEmail', res.data.email);
                        store.commit('setSubscriptionType', res.data.subscriptionType);
                        store.commit('setUserRegistrationDate', res.data.registrationDate);
                        store.commit('setYP', res.data.userPoints);
                        if (res.data.pictureUrl != null) {
                            store.commit('setPictureUrl', res.data.pictureUrl);
                        }
                    } ,(res) => {
                        res.error();
                    }
                );
            },

            login: function (res) {
                store.commit('setToken', res.data.token);
                store.commit('setUserID', res.data.userId);
                store.commit('login');
                this.$parent.isSignInOpen = false;
            },

            sendData: function () {
                this.$http.post('/login', this.postData).then(
                    (res) => {
                        if (res.data.authResult) {
                            this.login(res);
                            this.getProfileData();
                            this.$toasted.show("You are logged in!", {
                                theme: "primary",
                                duration: 1000
                            });
                        } else {
                            this.$toasted.show("Username or password is wrong", {
                                theme: "primary",
                                duration: 1500
                            });
                        }
                    })
                    .catch((err) => {
                            console.log(err);
                            this.$toasted.show("Sorry, something went wrong :(", {
                                theme: "primary",
                                duration: 1000
                            });
                        }
                    );

            }
        }
    }

</script>

<style scoped lang="scss">
    .index__header__tooltip {
        top: 40px;
        width: 240px;
        padding-bottom: 0;
        z-index: 100;
        margin-left: 12px;
    }

    .tooltip__form__button {
        margin-top: 1rem;
        margin-bottom: 1rem;
        outline: none;
    }

    .index__header__tooltip__footer {
        padding: 0.8rem;
        font-size: 12px;
        width: 240px;
        margin-left: -1.5rem;
        background-color: #171717;
        color: #909090;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .index__header__tooltip__notification {
        font-size: 14px;
        line-height: 1.5;
    }
    // TO DO: make animation another way
    .tooltip__form__successful {
        background: #187912d4;
        animation-name: fade;
        animation-duration: 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        &:before {
            background-image: url(../assets/img/corner-success.png)
        }

        p+p {
            margin-top: 8px;
        }

    }
</style>
