<template>
  <div class="logo-yp">
    your<b class="logo-yp__dot"></b>
  </div>
 
</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'

  export default {
    name: 'Logo',
    components: { Link },
    props: {
      isIndex: { default: false, required: false }
    } 
  }
</script>

<style scoped lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Quantico:400,700');

  .logo-yp {
    position: relative;
    z-index: 999;
    color: #fff;
    font-family: 'Quantico', sans-serif;
    font-size: 32px;
    line-height: 1;
    display: flex;
    align-items: flex-end;
    margin-top: -6px;
  }

  .logo-yp__dot {
    background-color: #993333;
    width: 6px;
    height: 6px;
    margin: 0 0 4px 4px;
  }

</style>