<template>
  <nav class="menu" :class="{'menu_authorized': $store.state.loggedIn}">
    <span v-for="(value, key) in menu" class="menu__item" :key="value">
      <router-link :to="value" class="menu__link">{{ key }}</router-link>
    </span>
  </nav>
</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import Upgrade from '../views/Upgrade'

  export default {
    name: 'Nav',
    components: { Link, Upgrade },
    data() {
      return {
        menu: this.$store.state.loggedIn ? 
          {
            profile: '/profile',
            pricing: '/pricing',
            comments: '/',
            'yp. log': '/'
          } : 
          {
            home: '/',
            pricing: '/pricing',
            feedback: '/contacts',
            about: '/about'
          }
      }
    },
  }

</script>

<style lang="scss">
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 770px) {
      display: none;   
    }
  }

  .menu__item {
    display: flex;
    align-items: center;
    font-size: 13px;
    position: relative;
    z-index: 999;
    cursor: pointer;

    a {
      transition: all 0.2s ease-in-out;
      text-decoration: none;

      &:hover {
        color: #ccc;
        
        
      }
    }

    &::before {
      content: '|';
      display: inline-block;
      margin: 0 12px;
      color: #666;
    }
  }

  .menu_authorized {
    .menu__item {
      &:first-child{
        &::before {
          display: none;
        }
      }
    }
  }

  .menu__link {
    color: white
  }

  .menuMobile {
    nav {
      display: block;
      padding: 0 1.5rem;

      span {
        display: block;
        padding: 1.2rem 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        border-bottom: 2px dotted #333;

        &::before {
          display: none;
        }
      }
    }
  }

  .menu_not-authorized {
    color: #bba9a9;
    position: relative;
    
    &:first-child {
      &::before {
        display: none;
      }
    }
  }

</style>