<template>

    <div>
        <h1>yourPoint for ..</h1>
        <div class="field">
            <div class="control is-medium is-loading">
                <input class="input is-medium" type="text" placeholder="Large loading input" readonly>
            </div>
<br/>
            <div class="columns">

            <div>

                <div class="card">
                    <div class="card-content">
                        <p class="title">
                            “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
                        </p>
                        <p class="subtitle">
                            Jeff Atwood
                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
      <span>
        <a href="">Add point</a> (You need 50 point for to do it)
      </span>
                        </p>
                        <p class="card-footer-item">
      <span>
                        <a href="">Support topic</a>
      </span>
                        </p>
                    </footer>
                </div>

            </div>





                <div>

                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
                            </p>
                            <p class="subtitle">
                                Jeff Atwood
                            </p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
      <span>
        <a href="">Add point</a> (You need 50 point for to do it)
      </span>
                            </p>
                            <p class="card-footer-item">
      <span>
                        <a href="">Support topic</a>
      </span>
                            </p>
                        </footer>
                    </div>

                </div>















                <div>

                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
                            </p>
                            <p class="subtitle">
                                Jeff Atwood
                            </p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
      <span>
        <a href="">Add point</a> (You need 50 point for to do it)
      </span>
                            </p>
                            <p class="card-footer-item">
      <span>
                        <a href="">Support topic</a>
      </span>
                            </p>
                        </footer>
                    </div>

                </div>







                <div>

                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
                            </p>
                            <p class="subtitle">
                                Jeff Atwood
                            </p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
      <span>
        <a href="">Add point</a> (You need 50 point for to do it)
      </span>
                            </p>
                            <p class="card-footer-item">
      <span>
                        <a href="">Support topic</a>
      </span>
                            </p>
                        </footer>
                    </div>

                </div>










                <div>

                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
                            </p>
                            <p class="subtitle">
                                Jeff Atwood
                            </p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
      <span>
        <a href="">Add point</a> (You need 50 point for to do it)
      </span>
                            </p>
                            <p class="card-footer-item">
      <span>
                        <a href="">Support topic</a>
      </span>
                            </p>
                        </footer>
                    </div>

                </div>

        </div>

        </div>

    </div>
    
</template>

<script>
    export default {
        name: "News"
    }
</script>

<style scoped>

</style>