<template>
 
  <section class="opinion-item">
    <div>
      <h2>
        <Status v-bind:status="status"/>
        <span>{{name}}</span>
      </h2>
      <div class="opinion-text">{{opinionText}}</div>
      <span class="opinion-date">{{date}}</span>
    </div>
  </section>

</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import Status from '@/components/Status.vue'
 
  export default {
    name: 'OpinionItem',
    props: ['name', 'opinionText', 'date', 'status'],
    components: {
      Status
    }
  }
</script>

<style scoped lang="scss">
  .opinion-item {
    width: 100%;
    text-align: left;
    font-size: 0.8rem;
    margin-right: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 640px) {
      margin-bottom: 1.5rem;
      flex-direction: column;
      justify-content: center;
    }

    & > div {
      @media screen and (max-width: 640px) {
        width: 100%;
      }
      
    }

    &:after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: url(../assets/img/dots.svg) no-repeat ;

      @media screen and (max-width: 640px) {
        transform: rotate(90deg)
      }
    }

    &:last-child {
      padding: 0;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;

      span {
        margin-left: 0.5rem;
        line-height: 1;
        color: #000;
      }
    }

    .opinion-text {
      height: 4rem;

      @media screen and (max-width: 640px) {
        height: auto;
        margin-bottom: 1rem;
      }
    }

    .opinion-date {
      display: block;
      font-size: 0.8rem;
    }
  }

</style>