<template>
 
  <form class="opinion-send-form" @submit.prevent="submit">
    <div>
      <div class="opinion-send-form-inner">
        <div class="senders-name">
          <span>{{name}}</span>
          Your point
        </div>

        <textarea v-model="text">
        </textarea>
      </div>
      <span class="note">Not more than 251 characters</span>
    </div>

    <button type="submit" >I'tnk</button>
  </form>

</template>

<script>
  import Vue from 'vue'


  export default {
    name: 'OpinionSendForm',
    props: ['value'],
    data() {
      return {
        name: 'Ivan Ivanov',
        text: ''
      }
    },
    methods: {
      submit(){
        console.log('submit', this.name, this.text)
        // post method is going to be there
      }
    }
  }
</script>

<style scoped lang="scss">
  .opinion-send-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 3rem 0;

    @media screen and (max-width: 640px) {
      flex-direction: column;
      justify-content: flex-start;
      margin: 1.5rem 0
    }

    &>div {
      @media screen and (max-width: 640px) {
        width: 100%;
      }
    }

    .opinion-send-form-inner {
      display: flex;
      @media screen and (max-width: 640px) {
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    .senders-name {
      font-size: 1rem;
      margin-right: 1rem;
      padding-right: 1rem;
      border-right: 0.5rem solid #000;
      width: auto;
      line-height: 1;
      text-align: right;
      color: #000;

      @media screen and (max-width: 640px) {
        border-left: 0.5rem solid #000;
        border-right: 0;
        text-align: left;
        padding-left: 1rem;
        margin-bottom: 1rem;
      }

      span {
        display: block;
        font-size: 1.5rem;

      }

    }

    textarea {
      width: 400px;
      height: 64px;
      font-size: 14px;
      padding: 8px;

      @media screen and (max-width: 640px) {
        width: 100%
      }  
    }

    button {
      border: 0;
      outline: 0;
      background: transparent;
      margin-left: 16px;
      text-transform: uppercase;
      cursor: pointer;
      background: url(../assets/img/icon-cloud.svg) no-repeat center top;
      padding-top: 1.5rem;
      font-size: 1rem;

      @media screen and (max-width: 640px) {
        margin-top: 1rem;
      } 
      
    }

    .note {
      font-size: 12px;
      margin-top: 8px;
      display: block;
      text-align: right;
    }

    .opinion-date {
      display: block;
      font-size: 14px;
      margin-top: 24px;
    }
  }

</style>