<template>
 
  <div class="opinions-showcase">

        <OpinionItem
          name='Ivan W.'
          opinionText='Thou bastard, come on thou little arse'
          status=1
          date='26.07.2018'
        />
        <OpinionItem
          name='Tolian P.'
          opinionText='Frig with me, eh? Thou bloody little arsehole, knobhead bellsucker'
          status=2
          date='26.07.2018'
        />
        <OpinionItem
          name='Johansson Y.'
          opinionText='Thou friggin come on, come frig with me! '
          status=3
          date='26.07.2018'
        />

      </div>

</template>

<script>
  import Vue from 'vue'
  import OpinionItem from '@/components/OpinionItem.vue'
 
  export default {
    name: 'OpinionsShowcase',
    //props: ['name', 'opinionText', 'date', 'status'],
    components: {
      OpinionItem 
    }
    /*data() {
      return {
        name: '',
        opinionText: '',
        date: '',
        status: 0
      }
    }*/
  }
</script>

<style scoped lang="scss">
  .opinions-showcase {
    display: flex;
    margin: 4rem 0;

    @media screen and (max-width: 640px) {
      flex-direction: column;
      margin: 1rem 0;
    }
  }

</style>