<template>
  <div class="index__opinions">
    <div class="index__opinions__items" v-if="comments.length > 0">
      <div class="index__opinions__one-opinion"
        v-for="comment in comments">
        <div class="index__opinions__one-opinion__user">
          <img :src="$store.state.user.pictureUrl" :alt="comment.user.name" />
          <div>
            <span class="name">{{comment.user.name}}</span>
            <span class="user-points">
              {{comment.user.userPoints}} Yp.
              <svg xmlns="http://www.w3.org/2000/svg" fill="#a80909" width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
            </span>
          </div>
        </div>

        <div class="index__opinions__one-opinion__text">
          {{comment.text}}
        </div>
        
        <div class="one-opinion__footer">
          <div class="index__opinions__one-opinion__date">
            {{comment.submitTime.replace('T', ' ')}}
          </div>
          <div class="one-opinion__like" v-bind:class="[comment.hasLike ? 'activeLike' : 'inactiveLike']">
            <span v-if="comment.likesCount > 0">{{comment.likesCount}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
            </svg>
            <span v-if="comment.likesCount < 1">Like it</span>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="index__opinions__none">
      <span>There were {{categoryCommentsNumber}} comments at this category for the last 24 hours.</span>
      <b>Be the first to comment it!</b>
    </div>
  </div><!--//index__opinions-->
</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import Upgrade from '../views/Upgrade'
  import store from '../store.js'

  export default {
    name: 'Login',
    components: { Link, Upgrade },
    data() {
      return {
        comments: [],
        categoryCommentsNumber: ""
      }
    },
    methods: {
        getTopComments: function () {
            const currentState = this;
            this.$http.get("/topic/" + store.state.news.id + "/top_comments?limit=3").then(
                (res) => {
                    currentState.comments = res.data;
                    currentState.getCategoryCommentsNumber();
                } ,(res) => {
                    console.log(res);
                }
            );
        },
        getCategoryCommentsNumber: function () {
            const currentState = this;
            this.$http.get("/stat/category/" + store.state.news.category.substring(9).toLowerCase()).then(
                (res) => {
                    currentState.categoryCommentsNumber = res.data;
                } ,(res) => {
                    console.log(res);
                }
            );
        }
    },
    beforeMount(){
        this.getTopComments();
    },
   
  }

</script>

<style lang="scss">
  .index__opinions__one-opinion {
    text-align:left;
    width: 300px;
    padding: 0 1rem;
    border-radius: 4px;
    padding: 1rem 2rem 2rem 2rem;

    @media screen and (max-width: 680px) {
      padding: 8px 0;
      width: 100%;
    }
  }

  .index__opinions__one-opinion_active {
    border: 3px solid #e9e9e9;
    box-shadow: 5px 5px 18px rgba(0,0,0,0.5);
  }

  .index__opinions {
    margin: 3rem 0;

    @media screen and (max-width: 680px) {
      margin: 16px 0;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
      text-align: left;
    }
  }

  .index__opinions__items {
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: 680px) {
      flex-direction: column;
    }
  }

  .index__opinions__one-opinion__text {
    margin: 16px 0;
    line-height: 24px;
    font-size: 13px;
    opacity: 0.7;
  }

  .index__opinions__one-opinion__user {
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      margin-right: 8px;
      width: 40px;
      height: 40px;
    }

    .name {
      font-size: 13px;
      font-weight: 600;
      display: block;
      line-height: 1;
      margin-bottom: 4px;
    }

    .user-points {
      font-size: 12px;
      color: #8d0808;
      font-weight: 600;
      line-height: 1;
      display: flex;
      align-items: center;

    }
  }

  .one-opinion__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .index__opinions__one-opinion__date {
    font-size: 13px;
    color: #c5c5c5;
  }

  .one-opinion__like {
    font-size: 13px;
    color: #c5c5c5;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    svg {
      /*fill: #c5c5c5;*/
      transition: all 0.2s ease-in-out;
    }

    &:hover, &:active {
      color: #a70909;

      svg {
        fill: #a70909;
      }
    }

    span {
      margin-left: 4px;
    }
  }
  .index__opinions__none {
    display: flex;
    flex-direction: column;
    b {
      margin-top: 0.5rem;
    }
  }
</style>