<template>
  <div
    class="index__header__tooltip tooltip__form"
    v-bind:class="{tooltip__form__successful: successful}"
  >

    <div class="index__header__tooltip__notification notification__success" v-if="successful">
      <p><b>You've been registered successfully!</b></p>
      <p>An email with confirm link has been sent to your email {{email}} ;)</p>
    </div>

    <div class="index__header__tooltip__notification notification__failed" v-if="!successful&&failed">
      Sorry, something went wrong :(
    </div>

    <form v-on:submit.prevent="validateUserData" v-if="!successful">
      <input type="text" v-validate="{regex: /^[a-zA-Z0-9\_]+$/}" name="username"
        class="form__input index__header__tooltip__input"
        placeholder="Username"
        v-model="username"
      >
      <p class="errorMsg">{{usernameError}}</p>
      <input type="email" v-validate="'email'" name="email"
        class="form__input index__header__tooltip__input"
        placeholder="Email"
        v-model="email"
      >
      <p class="errorMsg">{{emailError}}</p>
      <input
        type="password" v-validate="{regex: /^[a-zA-Z0-9\_]+$/}" name="password"
        class="form__input index__header__tooltip__input"
        placeholder="Password"
        v-model="password"
      >
      <p class="errorMsg">{{passwordError}}</p>
      <button class="tooltip__form__button button-transparent" type="submit">Sign-up</button>
    </form>
  </div>
</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import Upgrade from '../views/Upgrade'
  import Toasted from 'vue-toasted';
  import VeeValidate from 'vee-validate';
  Vue.use(VeeValidate);
  Vue.use(Toasted);

  export default {
    name: 'Registration',
    components: { Link, Upgrade },
    data() {
      return {
        username: '',
        password: '',
        email: '',
        successful: false,
        failed: false,
        emailError: "",
        usernameError: "",
        passwordError: "",
      }
    },
    methods: {
        validateUserData: function () {
            if (this.username.length < 3) {
                this.usernameError = "Username is too short";
            } else if (this.username.length > 20) {
                this.usernameError = "Username is too long";
            } else if (this.errors.first('username'))  {
                this.usernameError = "Not allowed symbols";
            }
            else {
                this.usernameError = "";
                this.validateUserEmail();
            }
        },
        validatePassword: function () {
            if (this.password.length < 4) {
                this.passwordError = "Password os too short";
            } else if (this.password.length > 20) {
                this.passwordError = "Password is too long";
            } else if (this.errors.first('password'))  {
                this.passwordError = "Not allowed symbols";
            } else {
                this.passwordError = "";
                this.checkUserEmailNotExistence();
            }
        },
        validateUserEmail: function () {
            if (this.errors.first('email'))  {
                this.emailError = "Not proper email";
            } else {
                this.emailError = "";
                this.validatePassword();
            }
        },
        checkUserEmailNotExistence: function () {
            if (this.validateUserData) {
              let currentState = this;
              this.$http.get('/email/status/' + this.email).then(
                  function (res) {
                      if (res.data) {
                          currentState.emailError = "";
                          currentState.checkUsernameNotExistence();
                      } else {
                          currentState.emailError = "Email already exists";
                      }
                  }, function (res) {
                      console.log(res.data)
                  }
              )
            }

        },
        checkUsernameNotExistence: function () {
            let currentState = this;
            this.$http.get('/username/status/' + this.username).then(
                function (res) {
                    if (res.data) {
                        currentState.usernameError = "";
                        currentState.sendData();
                    } else {
                        currentState.usernameError = "Username already exists";
                    }
                }, function (res) {
                    console.log(res.data)
                }
            )

        },
        sendData: function () {
          let currentState = this;
          this.$http.post('/user/registration', {
            "email": this.email,
            "password": this.password,
            "name": this.username
          }).then(
              (res) => {
                  console.log(res.data)
                  currentState.$parent.isRegistrationOpen = false;
                  currentState.$toasted.show("You registered successfully!", {
                      theme: "primary",
                      duration: 1000
                  });
              })
              .catch((err) => {
                    console.log(res.data);
                    currentState.$toasted.show("Sorry, something went wrong :(", {
                        theme: "primary",
                        duration: 1000
                    });
                  }
              );
        }

    }

  }

</script>

<style scoped lang="scss">
  .index__header__tooltip {
    top: 40px;
    width: 240px;
    z-index: 100;
    margin-left: 12px;
  }

  .tooltip__form__button {
    margin-top: 1rem;
    outline: none;
  }

  .index__header__tooltip__notification {
    font-size: 14px;
    line-height: 1.5;
  }
  // TO DO: make animation another way
  .tooltip__form__successful {
    background: #187912d4;
    animation-name: fade;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &:before {
      background-image: url(../assets/img/corner-success.png)
    }

    p+p {
      margin-top: 8px;
    }
  }

  .errorMsg {
    text-align: left;
    font-size: 10px;
    color: #999;
    font-style: italic;
  }

  @keyframes fade {
    from {opacity: 1; display: block;}
    to {opacity: 0; display: none;}
}

</style>
