<template>
  <div class="slogan">
    <div class="online" >
      Online
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="
      fill: #ffeb01;">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M20 18c1.1 0 1.99-.9 1.99-2L22 5c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v11c0 1.1.9 2 2 2H0c0 1.1.9 2 2 2h20c1.1 0 2-.9 2-2h-4zM4 5h16v11H4V5zm8 14c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"></path>
      </svg>
    </div>

    <div class="like">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="
    ">
        <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" fill="#fff"></path>
      </svg>
      <span>Like</span>
    </div>

    <div class="noone" >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="
        fill: #ffeb01;">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"></path>
      </svg>
      no one anymore
    </div>
    <div class="slogan-last">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="none" d="M0 0h24v24H0V0z"></path>
        <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM17 11h-4v4h-2v-4H7V9h4V5h2v4h4v2z"></path>
      </svg>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'

  export default {
    name: 'Slogan',
    components: { Link },
  }
</script>

<style scoped lang="scss">
  .slogan {
    display: flex;
    height: 160px;

    @media screen and (max-width:640px){
      display: none;
    }

    .online {
      width: 20%;
      height: 100%;
      background: black;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-size: 32px;
      font-weight: bold;
      border-right: 2px dotted #ffffff;
      /* border-top: 6px solid #427906; */
      flex-direction: column;
    }

    .like {
      width: 45%;
      height: 100%;
      background: #347b08;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 80px;
      /* font-weight: bold; */
      border-right: 2px dotted #fffef8;
      /* text-shadow: 5px 5px 0 #bb3406; */
    }

    .noone {
      width: 30%;
      height: 100%;
      background: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      flex-direction: column;
    }

    .slogan-last {
      height: 100%;
      width: 5%;
      background: #ffeb00;
      display: flex;
      align-items:  center;
      justify-content: center;
      border-bottom: 8px solid #f9c93896;
    }
  }

</style>