<template>
 
  <!-- <svg width="19" height="19">
    <rect width="19" height="19" stroke="#000" stroke-width="2" v-bind:fill="fill" />
  </svg> -->
  <div class="status">
    <b v-bind:style="fill"></b>
    <b v-bind:style="fill"></b>
    <b v-bind:style="fill"></b>
  </div>

</template>

<script>
  import Vue from 'vue'

  export default {
    name: 'Status',
    props: ['status'],
    computed: {
      fill: function () {
        const fillColor = +this.status === 1 ? 'background: #069506' : (
          +this.status === 2 ? 'background: #ff5100' : 'background: #1e2498'
        )
        return fillColor
      }
    }
  }
</script>

<style scoped lang="scss">
  .status {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;

    b {
      width: 8px;
      height: 8px;
      background: #000;
      border-radius: 50%;
      margin-right: 2px;

      &:first-child {
        width: 10px;
        height: 10px;
      }

      &:last-child {
        width: 6px;
        height: 6px;
      }
    }

    
  }

</style>