@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700');
@import "~vue-wysiwyg/dist/vueWysiwyg.css";

html, #app {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    line-height: 1;
    font-size: 16px;
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.wrapper__content {
    height: 100%;
}

.add-margin-top-25 {
    margin-top: 25px;
}

.add-margin-top-15 {
     margin-top: 15px;
 }

.add-margin-top-10 {
    margin-top: 10px;
}

.errorText {
    color: crimson;
    font-size: 14px;
}

.form-control.error {
    border-color: #E84444;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6);
}

.form-control.success {
    border-color: #23d160;
}

.add-margin-top-100 {
    margin-top: 100px;
}

.columns {
    margin-left: 100px;
}

.add-margin-bottom-50 {
    margin-bottom: 50px;
}

.inputFiledNames {
    font-size: 14px;
    /*font-family: "Comic Sans MS", serif;*/
    margin-bottom: 0.5rem;
}

.width-304 {
    width: 304px;
}

.width-80 {
    width: 80px;
}

.add-margin-left-15 {
    margin-left: 30px;
}

a {
    color: black;
    cursor: pointer;
}

.add-margin-right-15 {
     margin-right: 15px;
 }

.add-margin-right-5 {
    margin-right: 5px;
}

.ratingDiv {
    margin-right: 25px;
    margin-top: 15px;
}

.logoutButton {
    margin-top: -30px;
    margin-left: 110px
}

.noWrap {
    white-space: nowrap;
}

.is-bordered {
    border-style: solid;
    border-width: 1.5px;
    height: 400px;
    border-radius: 15px;
    width: 75%;
}

.add-margin-top-100 {
    margin-top: 100px;
}

.myCheckmark {
    height: 25px;
    width: 25px;
}

.checkMarkLabel{
    font-family: "Comic Sans MS", serif;
    font-size: 15px;
}

.is-black {
    background-color: black;
}

.tableSizes {
    width: 300px;
    height: 250px;

}

.tableRowHeight {
    height: 8%;
}

.marketPlaceHeight {
    height: 300px;
}

.myFooter {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.button {
  box-shadow: 0;
  background: #b22e2e;
  border: 1px solid #b22e2e;
  border-radius: 3px;
  padding: 0 16px;
  transition: all 0.2s ease-in-out;
  min-width: 120px;
  height: 40px;
  color: white;
  line-height: 1;
}

.button:hover {
  background: #8e1e1e;
  border: 1px solid #b22e2e;
  color: white
}

button:focus {
  outline: none;
}

.button:disabled {
  background: #666;
}

.button:disabled:hover {
  border: 1px solid #555;
}

.button-rectangle {
  box-shadow: 0;
  background: #993333;
  border: 1px solid #8e0606;
  border-radius: 0;
  padding: 0 1rem;
  transition: all 0.3s ease-in-out;
  min-width: 130px;
  height: 36px;
  line-height: 1;
  color: white;
  line-height: 1;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.button-rectangle:hover {
  background: #cf2a2a;
}

.main {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

@media screen and (max-width: 680px) {
   .main { padding: 0 16px; } 
}

.tooltip__form, .basic-tooltip {
  background: rgba(0,0,0,0.95);
  position: absolute;
  border-radius: 3px;
  padding: 1.5rem;
  color: white;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip__base {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.3
}

.tooltip__form:before {
  content: '';
  width: 21px;
  height: 9px;
  background: url(./img/corner.png) no-repeat center center;
  position: absolute;
  background-size: contain;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.95;
}

.form__input {
  border: 0;
  border-bottom: 1px solid #686868;
  font-size: 14px;
  opacity: 0.9;
  color: #fff;
  height: 40px;
  background: none;
  outline: 0;
  margin-bottom: 0.5rem;
  width: 100%;
}

.form__input::placeholder, .form__input::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}

.button-transparent {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 32px;
  padding: 0 32px;
  background: transparent;
  color: #fff;
  transition: all 0.2s ease-in;
  font-size: 13px;
  cursor: pointer;
}

.button-transparent:hover {
  border-color: #fff;
}

.content-form__input, .content-form__textarea {
  border: 1px solid #d8d2d2;
  width: 100%;
  background: transparent;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 0 8px;
  font-size: 14px;
  color: #333;
  height: 40px;
}

.content-form__textarea {
  height: 100px;
  padding: 8px;
}

.content-form__input:focus {
  outline: none;
}
.activeLike {
  fill: #d03c29;
  color: #d03c29;
}

.inactiveLike {
  fill: #c5c5c5;
  color: #c5c5c5;
}

.editr.textEditor .editr--toolbar .dashboard {
  width: 300px;
  padding: 16px;
  right: 36px;
  top: 8px;
  z-index: 100;
  left: auto;
}

.editr.textEditor .editr--toolbar a {
  transition: 0.2s all ease-in;
}

.editr.textEditor .editr--toolbar a:hover {
  background: transparent;
  fill: #000;
}

.editr.textEditor .editr--toolbar .dashboard form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.editr--toolbar .dashboard input {
  width: 200px !important;
  border-radius: 3px;
  border: 1px solid #d8d2d2; 
  margin-left: 8px;
  padding: 0 8px;
  height: 30px;
}

.editr--toolbar .dashboard label {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}

.editr--toolbar .dashboard button {
  border: 1px solid #d8d2d2;
  color: grey;
  border-radius: 3px;
  height: 30px;
  padding: 0 32px;
  background: transparent;
  line-height: 1;
  transition: all 0.2s ease-in;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2 ease-in-out;
}

.editr--toolbar .dashboard button:hover {
  border: 1px solid grey;
  color: grey;
}

h1 {
  font-size: 32px;
  margin: 16px 0;
}