<template>
  <section class="create-topic">

    <div class="columns-wrapper">
      <div class="create-topic-left">
        <section class="create-topic-block">
          <h3>Topic name</h3>
          <input type="text" id="topic-name" v-model="topicName"/>

          <!-- <p style="color: green">{{topicName}}</p> -->
        </section>

        <section class="create-topic-block">
          <h3>Select availiable pickers</h3>

          <div class="checkbox-section">
            <div
              class="create-topic-checkbox-row"
              v-for="picker in topicPickers"
              v-bind:key="picker.id"
            >
              <b-form-checkbox
                type="checkbox"
                v-bind:id="picker.id"
                v-bind:value="picker.title"
                v-model="selectedTopicPickers"
              />
              <span>{{picker.title}}</span>
            </div>
          </div>

          <!-- <p style="color: green">{{selectedTopicPickers}}</p> -->

        </section>

      </div><!--//create-topic-left-->

      <div class="create-topic-right">
        <section class="create-topic-block">
          <h3>YP run interval</h3>

          <b-form-select v-model="ypRunInterval" :options="intervalOptions" class="mb-3" size="sm">
          </b-form-select>

          <!-- <p style="color: green">{{ypRunInterval}}</p> -->
        </section>

        <section class="create-topic-block">
          <h3>NettNews workcycle duration</h3>

          <b-form-select v-model="newsRunInterval" :options="intervalOptions" class="mb-3" size="sm">
          </b-form-select>

          <!-- <p style="color: green">{{newsRunIntervall}}</p> -->
        </section>
      </div><!--//create-topic-right-->

    </div><!--//colums wrapper-->

    <section class="create-topic-block">
      <h3>Handler function</h3>
      
      <div style="display: flex; flex-wrap: wrap">
        <div
          v-for="selectedPicker in selectedTopicPickers"
          v-bind:key="selectedPicker"
          class="handler-block"
        >
          <span>{{selectedPicker}}</span>
          <b-form-select v-model="handlersForPickers[selectedPicker]" :options="handlers" class="mb-3" size="sm">
          </b-form-select>
        </div>
      </div>

      <!-- <p style="color: green">{{handlersForPickers}}</p> -->
    </section>

    <section class="create-topic-footer">
      <b-button v-on:click="createTopic">Create topic</b-button>
    </section>
    
  </section>

</template>

<script>
  import Vue from 'vue'
  import Link from 'bootstrap-vue/src/components/link/link'
  import bFormSelect from 'bootstrap-vue/es/components/form-select/form-select'
  import bButton from 'bootstrap-vue/es/components/button/button'
  import bFormCheckboxGroup from 'bootstrap-vue/es/components/form-checkbox/form-checkbox'

  const topicPickers = [
    {id: 'topicpicker1', title: 'BBC tRSS'},
    {id: 'topicpicker2', title: 'Lenta tRSS'},
    {id: 'topicpicker3', title: 'Meduza tRSS'},
    {id: 'topicpicker4', title: 'Another tRSS'},
    {id: 'topicpicker5', title: 'One else tRSS'},
    {id: 'topicpicker6', title: 'And one else'},
    {id: 'topicpicker7', title: 'Last one'},
  ]

  const handlers = [
    {value: 'BASIC', text: 'Basic title handler'},
    {value: 'ADVANCED', text: 'Advanced title handler'},
    {value: 'SUPER', text: 'Super title handler'}
  ]

  export default {
    name: 'CreateTopic',
    components: { },
     data() {
      return {
        topicName: '',
        topicPickers,
        selectedTopicPickers: [],
        ypRunInterval: 5,
        newsRunInterval: 5,
        intervalOptions: [
          { value: 5, text: '5 Min' },
          { value: 10, text: '10 Min' },
          { value: 15, text: '15 Min' },
          { value: 20, text: '20 Min' },
          { value: 25, text: '25 Min' },
        ],
        handlersForPickers: [],
        handlers
      }
    },
    methods: {
      createTopic: function() {
        // endpoint is needed
        console.log('createTopic')
      }
    }
  }
</script>

<style lang="scss">
  .create-topic {

    .columns-wrapper{
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
    }

    .create-topic-left, .create-topic-right {
      width: 50%;

      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }

    .create-topic-left {
      border-right: 1px solid #ced4da;;
      padding-right: 2rem;
      margin-right: 2rem;
    }

    h3 {
      font-size: 1rem;
      color: #666;
      margin: 1rem 0;
    }

    .create-topic-block {
      margin: 1rem 0 2rem 0;

      .checkbox-section {
        display: flex;
        flex-wrap: wrap;
      }

      .create-topic-checkbox-row {
        display: flex;
        font-size: 0.8rem;
        align-items: center;
        width: 50%;
        margin: 0.5rem 0;
        padding-right: 0.5rem;

        span {
          margin-left: 0.5rem;
        }
      }

      select {
        height: 2.25rem;
        font-size: 0.8rem;
      }

      input[type=text] {
        height: 2.25rem;
        border-radius: 0.25rem;
        border: 1px solid #ced4da;
        padding: 0.375rem 1.75rem 0.375rem 0.75rem; 
        font-family: inherit;
        font-size: 0.8rem;
      }
    }

    .handler-block {
      width: 25%;
      padding-right: 1rem;
      margin-bottom: 1rem;

      @media screen and (max-width: 600px) {
        width: 50%;
        padding-right: 0;
      }

      @media screen and (max-width: 400px) {
        width: 100%;
      }

      span {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
      }
    }

    .create-topic-footer {
      display: flex;
      justify-content: flex-end;

       @media screen and (max-width: 600px) {
          justify-content: center;
      }
    }
    
  }
 
</style>