<template>
  <div id="app">

    <!--<div><br/></div>
    <div class="columns">

      <div class="column is-4">
        <div class="">Y<h1>YourPoint.io</h1></div>
        <div class="">

          <div id="nav">
            <router-link to="/">Home</router-link> |
            <router-link to="/about">About</router-link> |
            <router-link to="/about">Sign in</router-link> |
            <router-link to="/about">Login</router-link> |
            <router-link to="/about">Statistics</router-link>
          </div>


        </div>
      </div>

      <div class="column is-4">
-
      </div>

      <div class="column is-4">
        <div class="">25 Yp<h1>Benjamin B.</h1></div>
        <div class="">

          <div id="nav">
            <router-link to="/">Logout</router-link>
          </div>


        </div>
      </div>


    </div>-->
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
