<template>
 
  <section class="rating__items__one-item item">

    <div class="rating__items__one-item__points">{{points}} YP</div>

    <div class="rating__items__one-item__stars">
      <star-rating
        :rating="stars"
        :star-size="24"
        :show-rating="false"
      ></star-rating>
    </div>

    <ul class="rating__items__one-item__pluses">
      <li v-for="advantage in advantages" v-bind:key="advantage.id">{{advantage.text}}</li>
    </ul>

    <div class="rating__items__one-item__price">{{price}} $</div>

    <button v-on:click="buyThisRating" class="button rating__items__one-item__button">Buy</button>
  </section>

</template>

<script>
  import Vue from 'vue'
  import StarRating from 'vue-star-rating'
  import Link from 'bootstrap-vue/src/components/link/link'
  
  export default {
    name: 'RatingItemToBuy',
    props: ['points', 'price', 'stars', 'advantages'],
    components: { StarRating },

    methods: {
      buyThisRating: function() {
        console.log('buy rating', this.points, this.price)
        console.log(this.props)
      }
    }
  }
</script>

<style scoped lang="scss">
  .rating__items__one-item {
    text-align: center;
    width: 300px;
    //border-right: 1px solid #ced4da;
    padding: 0 1rem;
    background: #f5f5f5;
    border-radius: 4px;
    padding: 1rem 2rem 2rem 2rem;

    &:last-child {
      border: 0;
    }

    .rating__items__one-item__points {
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    .rating__items__one-item__stars {
      & > div {
        justify-content: center;
      }
    }

    .rating__items__one-item__pluses {
      opacity: 0.7;
      font-size: 0.85rem;
      line-height: 2;
      text-align: left;
      margin: 1rem 0;
      list-style: disc;
      list-style: inside;
      height: 90px;
    }

    .rating__items__one-item__price {
      font-size: 2rem;
      margin: 1rem 0;
    }

    button {
      width: 120px;
    }
  }

</style>